html,
body {
    min-height: 100%;
    font: 16px/1.6 "Figtree", serif;
    color: rgba($black, 1);
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    // letter-spacing: .09px;
    // @include hyphens(auto);
}

// Custom breakpoints
// _mixins.scss
@mixin respond-to($breakpoint) {
    @if $breakpoint==xxs {
        @media (min-width: 320px) {
            @content;
        }
    }
    @if $breakpoint==xs {
        @media (min-width: 440px) {
            @content;
        }
    }
    @else if $breakpoint==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint==xl {
        @media (min-width: 1600px) {
            @content;
        }
    }
    @else if $breakpoint==xxl {
        @media (min-width: 1800px) {
            @content;
        }
    }
    @else if $breakpoint==xxxl {
        @media (min-width: 1920px) {
            @content;
        }
    }
}

.dawamain {
    margin: 0 auto;
    width: 100%;
    margin-top: 200px;
    @include respond-to(lg) {
        margin-top: 150px;
        padding-top: 25px;
    }
    @include respond-to(xxl) {
        margin-top: 220px;
        padding-top: 35px;
    }
}

.mydawa-container {
    margin: 0 auto;
    padding: 0 15px;
    @include respond-to(lg) {
        padding: 0 20px;
    }
    @include respond-to(xxl) {
        padding: 0 30px;
    }
    @include respond-to(xxxl) {
        padding: 0 50px;
    }
}

// Global styles
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 20px;
}

.grid-1half {
    grid-template-columns: 1fr;
    @include respond-to(md) {
        grid-template-columns: 1.5fr 1fr;
    }
}

.grid-2 {
    grid-template-columns: 1fr;
    @include respond-to(md) {
        grid-template-columns: 2fr 1fr;
    }
}

.grid-3 {
    grid-template-columns: 1fr;
    @include respond-to(md) {
        grid-template-columns: 3fr 1fr;
    }
}

.grid-4 {
    grid-template-columns: 1fr 1fr;
    @include respond-to(md) {
        grid-template-columns: 4fr 1fr;
    }
}

.grid-4half {
    grid-template-columns: 1fr 1fr;
    @include respond-to(md) {
        grid-template-columns: 4.5fr 1fr;
    }
}

.grid-5 {
    grid-template-columns: 1fr 1fr;
    @include respond-to(md) {
        grid-template-columns: 5fr 1fr;
    }
}