.section-heading {
    font-family: $figtreeExtraBold;
    line-height: 1.3;
    color: $black;
    @include responsive-font(1.9em, 2.5em, 4em);
    @include respond-to(lg) {
        font-family: $figtreeBlack;
    }
    svg {
        width: 20px;
        height: 20px;
        @include respond-to(xxl) {
            width: 32px;
            height: 32px;
        }
    }
}