.toggle-buttons {
    display: flex;
    .toggle-btn {
        @include responsive-font(1em, 1em, 1.6em);
        padding: 10px 25px;
        margin-right: 7px;
        background-color: #F3F3F3;
        color: $black;
        font-family: $figtreeSemiBold;
        cursor: pointer;
        flex: 1;
        transition: all 0.3s ease;
        border: none;
        border-radius: 12px;
        &.active {
            background-color: $primary;
            color: white;
        }
    }
}

.location-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    @include respond-to(xxl) {
        padding-bottom: 32px;
    }
    &.has-border {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 15px;
        @include respond-to(xxl) {
            margin-bottom: 30px;
        }
    }
    h3 {
        font-family: $figtreeSemiBold;
        @include responsive-font(20px, 20px, 36px);
        margin: 0;
        text-align: left;
    }
    p {
        font-family: $figtree;
        @include responsive-font(14px, 14px, 20px);
        color: $black;
        line-height: 1.4;
        flex-basis: 100%; // Ensures text wraps properly on small screens
    }
}

.location-box {
    // border: 1px dashed #D4DEE5;
    border-radius: 12px;
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    background: #fff;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px dashed #D4DEE5;
        /* Customize thickness */
        border-radius: 10px;
        pointer-events: none;
    }
    @include respond-to(xxl) {
        padding: 80px 60px;
    }
    .location-icon {
        width: 72px;
        height: 72px;
        margin-bottom: 20px;
        @include respond-to(xxl) {
            width: 116px;
            height: 116px;
            margin-bottom: 36px;
        }
    }
    h4 {
        @include responsive-font(20px, 20px, 36px);
        font-family: $figtreeBold;
        line-height: 1.5;
    }
    p {
        @include responsive-font(16px, 16px, 28px);
        font-family: $figtreeMedium;
        line-height: 1.5;
        max-width: 300px;
        @include respond-to(xxl) {
            max-width: 500px;
        }
    }
}

.addressSelection {
    width: 100%;
    background: #fff;
    .address-list {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        @include respond-to(xxl) {
            gap: 20px;
        }
    }
    /* Adjust spacing between cards */
    .radio-option-full {
        flex: 1 1 100%;
        /* Default: Full width */
        max-width: 100%;
        /* Prevents shrinking below container width */
        border: 1px solid #ddd;
        @include respond-to(lg) {
            flex: 1 1 calc(50% - 10px);
            /* Half width with spacing */
            max-width: calc(50% - 10px);
            /* Prevents expanding beyond half */
        }
        &.full-width {
            flex: 1 1 100%;
            max-width: 100%;
            @include respond-to(lg) {
                flex: 1 1 100%;
                /* Half width with spacing */
                max-width: 100%;
                /* Prevents expanding beyond half */
            }
        }
        h3 {
            font-family: $interSemiBold;
            @include responsive-font(16px, 16px, 28px);
            margin-bottom: 10px;
        }
        p {
            font-family: $inter;
            @include responsive-font(15px, 15px, 26px);
            margin-bottom: 5px;
        }
    }
    .edit-btn {
        img {
            width: 20px;
            height: 20px;
            @include respond-to(xxl) {
                width: 32px;
                height: 32px;
            }
        }
    }
    .address-item {
        flex: 1;
        display: flex;
        align-items: center;
        background: #f9f9f9;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid transparent;
        position: relative;
        transition: all 0.3s ease;
        input {
            display: none;
        }
        label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }
        .address-content {
            h4 {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 5px;
            }
            p {
                font-size: 0.875rem;
                margin: 0;
                color: #555;
            }
        }
        .edit-icon {
            cursor: pointer;
            img {
                width: 16px;
                height: 16px;
            }
        }
        &.active,
        input:checked+label {
            border: 2px solid #007bff;
            background: #eef5ff;
        }
    }
    .shipping-selection {
        border-top: 1px solid #E7ECF4;
        margin-top: 20px;
        padding-top: 20px;
        @include respond-to(xxl) {
            margin-top: 35px;
            padding-top: 35px;
        }
        h3 {
            @include responsive-font(20px, 20px, 32px);
            font-family: $figtreeSemiBold;
            margin-bottom: 14px;
            @include respond-to(xxl) {
                margin-bottom: 20px;
            }
        }
    }
    .shipping-options {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        @include respond-to(xxl) {
            gap: 20px;
        }
        .radio-option-full {
            h3 {
                font-family: $interSemiBold;
                @include responsive-font(16px, 16px, 28px);
                margin-bottom: 5px;
                @include respond-to(xxl) {
                    margin-bottom: 8px;
                }
            }
            p {
                font-family: $interLight;
                @include responsive-font(15px, 15px, 26px);
                margin-bottom: 5px;
            }
        }
    }
}

.add-new-address {
    display: block;
    color: $blue;
    font-weight: 500;
    text-decoration: none;
    margin: 15px 0;
    display: flex;
    align-items: center;
    @include responsive-font(18px, 18px, 28px);
    span {
        font-family: $figtreeBold;
        margin-left: 5px;
        border-bottom: 1px dashed $blue;
        width: fit-content;
        display: block;
        @include responsive-font(14px, 14px, 22px);
    }
    &:hover,
    &:focus {
        color: $darkblue;
        span {
            border-bottom: 1px dashed $darkblue;
        }
    }
}

.payment-options-grid {
    display: grid;
    gap: 15px;
    /* Adjust spacing between grid items */
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid #E7ECF4;
    padding-bottom: 30px;
    margin-bottom: 30px;
    /* Default: 2 columns */
    @include respond-to(xxl) {
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 48px;
        margin-bottom: 48px;
    }
}

.instructions-box {
    background-color: #FCFCFC;
    border: 1px solid #D4DEE5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    @include respond-to(xxl) {
        padding: 35px;
        margin-top: 32px;
    }
    h4 {
        font-family: $figtreeSemiBold;
        @include responsive-font(16px, 16px, 28px);
        margin-bottom: 15px;
        @include respond-to(xxl) {
            margin-bottom: 28px;
        }
    }
    ol {
        font-family: $figtreeLight;
        line-height: 1.6;
        @include responsive-font(16px, 16px, 28px);
    }
}

.alert {
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    line-height: 1.5;
    @include responsive-font(14px, 14px, 22px);
    @include respond-to(xxl) {
        padding: 20px;
        margin-bottom: 35px;
    }
    img {
        width: 16px;
        height: 16px;
        margin-top: 5px;
        @include respond-to(xxl) {
            width: 24px;
            height: 24px;
            margin-top: 8px;
        }
    }
    &.alert-gray {
        background-color: #F6F6F8;
        border: none;
        color: $black;
    }
    &.alert-green {
        background-color: #F6FFF2;
        border: none;
        color: $green;
    }
    &.alert-red {
        background-color: #FFF6F6;
        border: none;
        color: #D40E0E;
    }
}

.payment-header,
.balance-section {
    h3 {
        font-family: $figtree;
        @include responsive-font(20px, 20px, 35px);
    }
    p {
        font-family: $figtreeLight;
        @include responsive-font(16px, 16px, 28px);
        max-width: 650px;
        @include respond-to(xxl) {
            max-width: 850px;
        }
    }
}

.transfer-points {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        width: 16px;
        height: 16px;
        margin-left: 5px;
        @include respond-to(xxl) {
            width: 24px;
            height: 24px;
            margin-left: 8px;
        }
    }
}

.available-points {
    font-family: $figtree;
    @include responsive-font(20px, 20px, 35px);
    span {
        font-family: $figtreeBold;
    }
}

// Tracking Order Page 
.tracking-card {
    background: #fff;
    padding: 20px 0;
    border: 1px solid #D4DEE5;
    border-radius: 12px;
    margin: 0 auto;
    @include respond-to(lg) {
        max-width: 830px;
    }
    @include respond-to(xxl) {
        max-width: 1320px;
    }
    .tracking-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px 20px;
        @include respond-to(xxl) {
            margin: 15px 35px;
        }
        h2 {
            margin: 0;
            font-family: $figtreeSemiBold;
            @include responsive-font(28px, 28px, 44px);
        }
        .sub-text {
            font-family: $figtreeLight;
            @include responsive-font(14px, 14px, 22px);
        }
        .status {
            background: #FFFCEC;
            color: #B99608;
            padding: 7px 20px;
            border-radius: 20px;
            font-family: $figtreeMedium;
            @include responsive-font(14px, 14px, 22px);
            @include respond-to(xxl) {
                padding: 12px 32px;
            }
        }
    }
    .tracking-info {
        background: #F9F9FD;
        padding: 20px 35px;
        border-radius: 10px;
        @include respond-to(xxl) {
            padding: 36px 28px;
        }
        @include respond-to(xxl) {
            padding: 56px 44px;
        }
        .info-row {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 15px;
            @include respond-to(xxl) {
                gap: 18px;
                margin-bottom: 25px;
            }
            .icon {
                width: 24px;
                height: 24px;
                @include respond-to(xxl) {
                    width: 38px;
                    height: 38px;
                }
            }
            span {
                font-family: $figtreeSemiBold;
                color: #8D8B8C;
                @include responsive-font(15px, 15px, 26px);
            }
            p {
                margin: 0;
                flex-grow: 1;
                text-align: right;
                font-family: $figtreeBold;
                @include responsive-font(15px, 15px, 26px);
                color: $black;
            }
        }
    }
}

.tracking-progress {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    margin: 40px 20px 30px 20px;
    @include respond-to(xxl) {
        margin: 50px 35px 30px 35px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 10%;
        width: 80%;
        height: 2px;
        background: #ddd;
        z-index: 0;
    }
    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 1;
        .circle {
            width: 20px;
            height: 20px;
            background: #ddd;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: bold;
            color: white;
            @include respond-to(xxl) {
                width: 32px;
                height: 32px;
            }
        }
        &.completed .circle {
            background: $green;
        }
        p {
            font-family: $figtreeBold;
            @include responsive-font(15px, 15px, 26px);
            color: $black;
            margin-top: 10px;
            margin-bottom: 0;
            line-height: 1.5;
            @include respond-to(xxl) {
                margin-top: 16px;
            }
        }
        span {
            color: $black;
            @include responsive-font(13px, 13px, 20px);
        }
    }
}

.exchange-icon {
    width: 16px;
    height: 16px;
    // margin: 10px auto;
    @include respond-to(xxl) {
        width: 24px;
        height: 24px;
        // margin: 16px auto;
    }
}