.submit-prescription {
    margin-bottom: 30px;
    position: relative;
    @include respond-to(lg) {
        margin-bottom: 50px;
    }
    @include respond-to(xxl) {
        margin-bottom: 80px;
    }
}

.recipient-card {
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #D4DEE5;    
    @include respond-to(lg) {
        margin-right: 25px;
    }
    @include respond-to(xxl) {
        margin-right: 40px;
        padding: 28px;
    }
    svg{
        margin-right: 5px;
        width: 20px;
        height: 20px;
        @include respond-to(xxl) {
            width: 26px;
            height: 26px;
            margin-right: 7px;
        }
    }
    h3{
        font-family: $figtreeMedium;
        line-height: 1.5;
        @include responsive-font(14px, 18px, 14px, 18px);
    }
    a{
        text-decoration: none;
        font-family: $figtreeSemiBold;
        @include responsive-font(14px, 18px, 14px, 18px);
    }
    span{
        color: #878585;
        @include responsive-font(14px, 18px, 14px, 18px);
    }

    .recipient-card-header {
        position: relative;
        border-bottom: 1px solid #E7ECF4;
        padding-bottom: 15px;
        @include respond-to(xxl) {
            padding-bottom: 20px;
        }
        // .recipient-image {
        //     width: 100%;
        //     height: 120px;
        //     object-fit: cover;
        //     border-bottom: 1px solid #ddd;
        //     @include respond-to(lg) {
        //         height: 160px;
        //     }
        //     @include respond-to(xxl) {
        //         height: 220px;
        //     }
        // }
        // .prescription-edit {
        //     position: absolute;
        //     top: 0;
        //     bottom: auto;
        //     width: 100%;
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     background: rgba(0, 0, 0, 0.25);
        //     color: #fff;
        //     padding: 10px;
        //     font-size: 14px;
        //     @include respond-to(lg) {
        //         font-size: 16px;
        //     }
        //     @include respond-to(xxl) {
        //         font-size: 20px;
        //         padding: 10px 25px;
        //     }
        //     .prescription-label {
        //         font-weight: 500;
        //         flex-grow: 1;
        //         white-space: nowrap;
        //         overflow: hidden;
        //         text-overflow: ellipsis;
        //     }
        //     .edit-btn {
        //         background: none;
        //         border: none;
        //         color: #fff;
        //         cursor: pointer;
        //         font-size: 14px;
        //     }
        // }
    }
    .recipient-card-body {
        text-align: left;
        background: #fff;
        margin-top: 15px;
        @include respond-to(xxl) {
            margin-top: 20px;
        }
        .recipient-details {
           
            h4 {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
                color: $black;
                @include respond-to(xxl) {
                    font-size: 20px;
                    margin-bottom: 16px;
                }
            }
            .edit-btn {
                background: none;
                border: none;
                color: #e61b77;
                font-size: 16px;
                cursor: pointer;
            }
            p {
                font-size: 14px;
                margin: 7px 0;
                color: $black;
                display: flex;
                justify-content: space-between;
                @include respond-to(xxl) {
                    font-size: 20px;
                    margin: 14px 0;
                }
                .title {
                    font-family: $figtreeMedium;
                    color: #878585;
                    display: flex;
                    align-items: center;
                    svg{
                        margin-bottom: 3px;
                    }
                }
                .text {
                    font-family: $figtreeSemiBold;
                    color: $black;
                }
            }
        }
    }
}

.prescribe-info-box {
    display: flex;
    align-items: flex-start;
    background: #F6FFF2;
    border-radius: 12px;
    padding: 14px;
    border: 1px solid #DBF8C5;
    color: $black;
    flex-direction: column;
    margin-bottom: 30px;
    @include respond-to(lg) {
        position: absolute;
        right: 45px;
        top: 110px;
        max-width: 240px;
    }
    @include respond-to(xxl) {
        right: 70px;
        top: 150px;
        max-width: 300px;
        padding: 22px;
    }
    .info-icon {
        display: flex;
        flex-direction: row;
        margin-bottom: 7px;
        align-items: center;
        @include respond-to(xxl) {
            margin-bottom: 12px;
        }
        h4 {
            font-family: $figtreeLight;
            @include responsive-font(12px, 16px, 12px, 16px);
            margin-bottom: 0;
        }
        svg {
            margin-right: 10px;
            width: 16px;
            height: 16px;
            @include respond-to(xxl) {
                width: 22px;
                height: 22px;
            }
        }
    }
    .info-content {
        ol {
            font-family: $figtreeMedium;
            color: $black;
            padding-left: 18px;
            margin: 0;
            @include respond-to(xxl) {
                padding-left: 25px;
            }
            li {
                margin-bottom: 10px;
                line-height: 1.5;
                @include responsive-font(14px, 18px, 14px, 18px);
            }
        }
    }
}

#dependentSection {
    display: none;
}