.submit-prescription {
    margin-bottom: 30px;
    position: relative;
    @include respond-to(lg) {
        margin-bottom: 50px;
    }
    @include respond-to(xxl) {
        margin-bottom: 80px;
    }
}

.recipient-card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    overflow: hidden;
    @include respond-to(lg) {
        margin-right: 50px;
    }
    @include respond-to(xxl) {
        margin-bottom: 80px;
    }
    .recipient-card-header {
        position: relative;
        .recipient-image {
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-bottom: 1px solid #ddd;
            @include respond-to(lg) {
                height: 160px;
            }
            @include respond-to(xxl) {
                height: 220px;
            }
        }
        .prescription-edit {
            position: absolute;
            top: 0;
            bottom: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: rgba(0, 0, 0, 0.25);
            color: #fff;
            padding: 10px;
            font-size: 14px;
            @include respond-to(lg) {
                font-size: 16px;
            }
            @include respond-to(xxl) {
                font-size: 20px;
                padding: 10px 25px;
            }
            .prescription-label {
                font-weight: 500;
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .edit-btn {
                background: none;
                border: none;
                color: #fff;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
    .recipient-card-body {
        text-align: left;
        background: #fff;
        .recipient-details {
            padding: 12px;
            @include respond-to(xxl) {
                padding: 28px;
            }
            h4 {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
                color: $black;
                @include respond-to(xxl) {
                    font-size: 20px;
                    margin-bottom: 16px;
                }
            }
            .edit-btn {
                background: none;
                border: none;
                color: #e61b77;
                font-size: 16px;
                cursor: pointer;
            }
            p {
                font-size: 14px;
                margin: 7px 0;
                color: $black;
                display: flex;
                justify-content: space-between;
                @include respond-to(xxl) {
                    font-size: 20px;
                    margin: 14px 0;
                }
                .title {
                    font-weight: 300;
                    color: $black;
                }
                .text {
                    font-weight: 600;
                    color: $black;
                }
            }
        }
    }
}

.prescribe-info-box {
    display: flex;
    align-items: flex-start;
    background: #E8FFD6;
    border-radius: 12px;
    padding: 14px;
    border: 1px solid #DBF8C5;
    color: $black;
    flex-direction: column;
    margin-bottom: 30px;
    @include respond-to(lg) {
        position: absolute;
        right: 20px;
        top: 70px;
        max-width: 252px;
    }
    @include respond-to(xxl) {
        right: 30px;
        top: 160px;
        max-width: 400px;
        padding: 24px;
    }
    .info-icon {
        display: flex;
        flex-direction: row;
        margin-bottom: 7px;
        @include respond-to(xxl) {
            margin-bottom: 12px;
        }
        h4 {
            font-family: $figtreeLight;
            font-size: 0.75rem;
            @include respond-to(xxl) {
                font-size: 1.125rem;
            }
        }
        svg {
            margin-right: 10px;
            width: 16px;
            height: 16px;
            @include respond-to(xxl) {
                width: 28px;
                height: 28px;
            }
        }
    }
    .info-content {
        ol {
            font-family: $figtreeMedium;
            color: $black;
            padding-left: 20px;
            margin: 0;
            @include respond-to(xxl) {
                padding-left: 35px;
            }
            li {
                margin-bottom: 5px;
                line-height: 1.5;
                font-size: 0.875rem;
                @include respond-to(xxl) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

#dependentSection {
    display: none;
}