// Define a mixin for responsive font sizes
@mixin responsive-font($base-size, $lg-size, $xxl-size) {
    font-size: $base-size;
    @include respond-to(lg) {
        font-size: $lg-size;
    }
    @include respond-to(xxl) {
        font-size: $xxl-size;
    }
}

// Custom Breakpoints
@mixin respond-to($breakpoint) {
    @if $breakpoint==xxs {
        @media (min-width: 320px) {
            @content;
        }
    }
    @if $breakpoint==xs {
        @media (min-width: 440px) {
            @content;
        }
    }
    @else if $breakpoint==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint==xl {
        @media (min-width: 1600px) {
            @content;
        }
    }
    @else if $breakpoint==xxl {
        @media (min-width: 1800px) {
            @content;
        }
    }
    @else if $breakpoint==xxxl {
        @media (min-width: 1920px) {
            @content;
        }
    }
}