<section class="blog-section">
    <div class="container-fluid">
        <h2 class="section-heading mb-4">Healthy Reading for a Healthy Lifestyle</h2>
        <div id="blog-carousel" class="owl-carousel owl-theme">
            <!-- Article Card 1 -->
            <div class="card blog-card">
                <img src="assets/images/blog/blog1.png" class="card-img-top" alt="Article 1">
                <div class="card-body">
                    <p class="blog-category">Family Planning</p>
                    <h5 class="blog-title">The Impact of State Regulations on Access to Long-Acting Contraceptives</h5>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <i class='bx bx-heart'></i>
                        <i class='bx bx-share'></i>
                    </div>
                </div>
            </div>
            <!-- Article Card 2 -->
            <div class="card blog-card">
                <img src="assets/images/blog/blog2.png" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <p class="text-uppercase text-muted small mb-1">Family Planning</p>
                    <h5 class="card-title">The Economic Rationale for Investing in Family Planning in Sub-Saharan Africa</h5>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share"></i>
                    </div>
                </div>
            </div>
            <!-- Add more article cards as needed -->
            <div class="card blog-card">
                <img src="assets/images/blog/blog3.png" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <p class="text-uppercase text-muted small mb-1">Family Planning</p>
                    <h5 class="card-title">Celebrating Birth Control on Mother's Day? Not as Counterintuitive as It Sounds</h5>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share"></i>
                    </div>
                </div>
            </div>
            <div class="card blog-card">
                <img src="assets/images/blog/blog2.png" class="card-img-top" alt="Article 2">
                <div class="card-body">
                    <p class="text-uppercase text-muted small mb-1">Family Planning</p>
                    <h5 class="card-title">7 Important Facts to Know About Abortion
                    </h5>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-share"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>