<section class="feature-section">
    <div class="container-fluid">
        <div class="row text-center">
            <!-- Feature 1 -->
            <div class="col-lg-4 mb-4">
                <div class="feature-item">
                    <div class="icon mb-3">
                        <img src="assets/images/icons/feature1.png" alt="Free Shipping" class="">
                    </div>
                    <div class="text-col d-flex flex-column">
                        <h5 class="text-start">Free Shipping</h5>
                        <p class="text-start">Get free delivery on orders above KES 500</p>
                    </div>

                </div>
            </div>
            <!-- Feature 2 -->
            <div class="col-lg-4 mb-4">
                <div class="feature-item">
                    <div class="icon mb-3">
                        <img src="assets/images/icons/feature2.png" alt="100% Authentic" class="">
                    </div>
                    <div class="text-col d-flex flex-column">
                        <h5 class="text-start">100% Authentic</h5>
                        <p class="text-start">Products sourced directly from the brands</p>
                    </div>
                </div>
            </div>
            <!-- Feature 3 -->
            <div class="col-lg-4 mb-4">
                <div class="feature-item">
                    <div class="icon mb-3">
                        <img src="assets/images/icons/feature3.png" alt="Easy Returns" class="">
                    </div>
                    <div class="text-col d-flex flex-column">
                        <h5 class="text-start">Easy Returns</h5>
                        <p class="text-start">Simple and easy return with just a few clicks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>