<header>
    <div class="container-fluid">
        <div class="top-header">
            <div class="top-left">
                <div class="top-left-box">
                    <div class="ham">
                        <img src="img/icon-ham.svg" alt="Ham">
                    </div>
                    <a href="" class="logo">
                        <img src="img/logo-dawa.png" alt="Mydawa Logo">
                    </a>
                </div>
                <div class="search-wrap">
                    <div class="search-container">
                        <input type="search" placeholder="Search For Medicines & Health Products">
                        <img src="img/icon-search.svg" alt="Search">
                    </div>
                    <!-- Search Results -->
                    <div class="search-results">
                        <!-- Recent Search -->
                        <div class="recent-search">
                            <h5>Recent Search</h5>
                            <ul class="recent-list">
                                <li>
                                    <a href="#"><i class='bx bx-history' ></i>Femiplan pills</a>
                                </li>
                                <li><a href="#"><i class='bx bx-history' ></i>family planning set</a></li>
                                <li><a href="#"><i class='bx bx-history' ></i>contraceptives</a></li>
                            </ul>
                        </div>
                        <!-- Search Trending -->
                        <div class="trending-search">
                            <h5>Trending Search</h5>
                            <ul class="trending-list">
                                <li>
                                    <a href="#"><i class='bx bx-up-arrow-alt'></i>Oral Contraceptive</a>
                                    <span>100+ people searched</span>
                                </li>
                                <li><a href="#"><i class='bx bx-up-arrow-alt'></i>Cough Syrup</a></li>
                                <li><a href="#"><i class='bx bx-up-arrow-alt'></i>Face Wash For Men</a></li>
                            </ul>
                        </div>

                        <!-- Products Section -->
                        <div class="featured-search">
                            <h5>Products</h5>
                            <div class="product-list">
                                <!-- Product Item -->
                                <div class="product-item">
                                    <img src="assets/images/product-images/product2.png" alt="Durex Condoms Featherlite 12's" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Condoms Featherlite 12's</p>
                                        <p class="product-price">KES 1375</p>
                                        <small class="product-note">200+ people bought today</small>
                                    </div>
                                </div>
                                <!-- Other Product Items -->
                                <div class="product-item">
                                    <img src="assets/images/product-images/product2.png" alt="Durex Condoms Extra Safe 3's" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Condoms Extra Safe 3's</p>
                                        <p class="product-price">KES 475</p>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="assets/images/product-images/product2.png" alt="Durex Extra Thin Wild Strawberry Flavored" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Extra Thin Wild Strawberry Flavored</p>
                                        <p class="product-price">KES 2235</p>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="assets/images/product-images/product2.png" alt="Durex Condoms Pleasure Me 3's" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Condoms Pleasure Me 3's</p>
                                        <p class="product-price">KES 525</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="top-right">
                <div class="delivery-wrap">
                    <div class="delivery-info">
                        <span class="icon">
                            <img src="img/icon-flash.svg" alt="Icon">
                        </span>
                        <div class="icon-text">Express delivery to <br><span class="text-bold">80100, Mombasa</span></div>
                        <span class="icon-down">
                            <img src="img/caret-down-orange.svg" alt="Icon">
                        </span>
                    </div>
                    <div class="delivery-dropdown">
                        <div class="dropdown-header">
                            <h4>Choose Your Location</h4>
                            <p class="text-muted">Delivery options and speeds may differ depending on your location</p>
                        </div>
                        <div class="dropdown-wrap">
                            <button class="btn-primary btn-rounded">
                                Sign in to see your address
                                <i class='bx bx-right-arrow-alt'></i>
                            </button>
                            <div class="dropdown-body">
                                <div class="delivery-options my-2">
                                    <button class="btn-primary">Delivery</button>
                                    <button class="btn-outline-light">Pickup</button>
                                </div>
                                <div class="address-list">
                                    <label class="radio-container">
                                        <input type="radio" name="address" checked>
                                        <div class="d-flex flex-column ms-1">
                                            <span class="name">John Doe</span>
                                            <span class="address">House no. 14, Links Road, 80100, Mombasa, Kenya</span>
                                        </div>
                                    </label>
                                    <label class="radio-container">
                                        <input type="radio" name="address">
                                        <div class="d-flex flex-column  ms-2">
                                            <span class="name">John Doe</span>
                                            <span class="address">House no. 14, Links Road, 80100, Mombasa, Kenya</span>
                                        </div>
                                        
                                    </label>
                                    <a href="#" class="manage-link">Manage Addresses</a>
                                </div>

                            </div>
                            <div class="zip-code d-flex gap-2 mt-2">
                                <input type="text" placeholder="Enter Your Zip Code" class="form-control">
                                <button class="btn-grey btn-rounded">Check</button>
                            </div>
                        </div>

                    </div>
                </div>

                <ul class="btn-circle-wrap">
                    <li class="notification-icon">
                        <a href="" class="btn-circle"><img src="img/icon-notification.svg" alt="notification"></a>
                    </li>
                    <li class="icons-top">
                        <a href="" class="btn-circle"><img src="img/icon-percent.svg" alt="percent"></a>
                    </li>
                    <li class="icons-top">
                        <a href="" class="btn-circle"><img src="img/icon-user.svg" alt="user"></a>
                    </li>
                    <li class="icons-top">
                        <a href="" class="btn-circle"><img src="img/icon-cart.svg" alt="cart"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navigation">
        <ul>
            <li class="position-relative category-dropdown">
                <a href="#" class="dropdown-toggle">
                    <img src="img/iconz-4-square.svg" alt="Icon" class="left-icon"> Shop by Category
                    <img src="img/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
                <!-- Dropdown Menu -->
                <div class="dropdown-menu shop-category-dropdown shadow-lg">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled category-list">
                                <li><a href="#">Sexual Wellness <span class="text-muted">Upto 25% Off</span></a></li>
                                <li><a href="#">Vitamins & Supplements <span class="text-muted">Buy 1 Get 1 Free</span></a></li>
                                <li><a href="#">Beauty & Personal Care <span class="text-muted">Upto 25% Off</span></a></li>
                                <li><a href="#">Mother & Baby Care <span class="text-muted">Upto 25% Off</span></a></li>
                                <li><a href="#">Medical Devices <span class="text-muted">Buy 1 Get 1 Free</span></a></li>
                                <li><a href="#">Snacks & Drinks <span class="text-muted">Buy 1 Get 1 Free</span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="category-highlight">
                                <img src="img/featured-image.jpg" alt="Featured" class="img-fluid rounded">
                                <p class="fw-bold text-primary mt-3">Pink Friday</p>
                                <p class="text-muted">Up to 35% Discount</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <li>
                <a href="">
                    <img src="img/iconz-heart.svg" alt="Icon" class="left-icon"> Shop by Condition <img src="img/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/iconz-star.svg" alt="Icon" class="left-icon">Shop by Brand <img src="img/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li class="position-relative services-dropdown">
                <a href="">
                    Services<img src="img/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
                <!-- Dropdown Menu -->
                <div class="services-menu shadow-lg">
                    <ul class="list-unstyled category-list">
                        <li>
                            <a href="#">
                                <span>Submit a prescription<i class='bx bx-chevron-right'></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Upload a HIV Test Results<i class='bx bx-chevron-right'></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Book A Consultation<i class='bx bx-chevron-right'></i></span>
                            </a>
                        </li>


                    </ul>
                </div>
            </li>
            <li>
                <a href="">
                    My Health Center <img src="img/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    Help & Support <img src="img/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
        </ul>
    </div>
</header>