<header class="position-relative" style="z-index: 200;">
    <div class="inner-container">
        <div class="top-header">
            <div class="top-left">
                <div class="top-left-box">
                    <div class="ham">
                        <img src="assets/images/icon-ham.svg" alt="Ham">
                    </div>
                    <a href="" class="logo">
                        <img src="assets/images/logo-dawa.png" alt="Mydawa Logo">
                    </a>
                </div>
                <div class="search-container position-relative">
                    <input type="search" placeholder="Search For Medicines & Health Products" id="search-bar" class="form-control" />
                    <img src="assets/images/icon-search.svg" alt="Search" class="search-icon">
                    <!-- Search Results -->
                    <div class="search-results shadow-lg rounded position-absolute bg-white w-100">
                        <!-- Search Suggestions -->
                        <div class="search-suggestions">
                            <h5 class="fw-bold">Search Suggestions</h5>
                            <ul class="suggestions-list">
                                <li>
                                    <a href="#">family planning pills</a>
                                    <span class="badge popular">Popular</span>
                                </li>
                                <li><a href="#">family planning set</a></li>
                                <li><a href="#">contraceptives</a></li>
                            </ul>
                        </div>

                        <!-- Products Section -->
                        <div class="search-products">
                            <h5 class="fw-bold">Products</h5>
                            <div class="product-list">
                                <!-- Product Item -->
                                <div class="product-item highlighted">
                                    <img src="assets/images/durex-condom-1.jpg" alt="Durex Condoms Featherlite 12's" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Condoms Featherlite 12's</p>
                                        <p class="product-price">KES 1375</p>
                                        <small class="product-note">200+ people bought today</small>
                                    </div>
                                </div>
                                <!-- Other Product Items -->
                                <div class="product-item">
                                    <img src="assets/images/durex-condom-2.jpg" alt="Durex Condoms Extra Safe 3's" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Condoms Extra Safe 3's</p>
                                        <p class="product-price">KES 475</p>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="assets/images/durex-condom-3.jpg" alt="Durex Extra Thin Wild Strawberry Flavored" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Extra Thin Wild Strawberry Flavored</p>
                                        <p class="product-price">KES 2235</p>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img src="assets/images/durex-condom-4.jpg" alt="Durex Condoms Pleasure Me 3's" class="product-image">
                                    <div class="product-info">
                                        <p class="product-name">Durex Condoms Pleasure Me 3's</p>
                                        <p class="product-price">KES 525</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-right">
                <div class="delivery-info">
                    <span class="icon">
                        <img src="assets/images/icon-flash.svg" alt="Icon">
                    </span>
                    <div class="icon-text">Express delivery to <br><span class="text-bold">80100, Mombasa</span></div>
                </div>
                <ul class="btn-circle-wrap">
                    <li class="notification-icon">
                        <a href="" class="btn-circle"><img src="assets/images/icon-notification.svg" alt="notification"></a>
                    </li>
                    <li class="icons-top">
                        <a href="" class="btn-circle"><img src="assets/images/icon-percent.svg" alt="percent"></a>
                    </li>
                    <li class="icons-top">
                        <a href="" class="btn-circle"><img src="assets/images/icon-user.svg" alt="user"></a>
                    </li>
                    <li class="icons-top">
                        <a href="" class="btn-circle"><img src="assets/images/icon-cart.svg" alt="cart"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navigation">
        <ul>
            <li>
                <a href="">
                    <img src="assets/images/iconz-4-square.svg" alt="Icon" class="left-icon"> Shop by Category <img src="assets/images/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="assets/images/iconz-heart.svg" alt="Icon" class="left-icon"> Shop by Condition <img src="assets/images/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="assets/images/iconz-star.svg" alt="Icon" class="left-icon">Shop by Brand <img src="assets/images/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    Services<img src="assets/images/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    My Health Center <img src="assets/images/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
            <li>
                <a href="">
                    Help & Support <img src="assets/images/caret-down.svg" alt="Icon" class="icon-caret">
                </a>
            </li>
        </ul>
    </div>
</header>