<header class="site-header">
    <div class="header-promo">
        <div class="mydawa-container">
            <p>
                Introducing the UltraBlend Pro! Enjoy up to 30% off for a limited time
            </p>
        </div>
    </div>
    <div class="mydawa-container">
        <div class="top-header">
            <div class="top-left">
                <div class="top-left-box">
                    <div class="ham">
                        <img src="assets/images/icon-ham.svg" alt="Ham" />
                    </div>
                    <a href="/" class="logo">
                        <img src="assets/images/logo.png" alt="Mydawa Logo" />
                    </a>
                </div>
                <div class="search-wrap">
                    <div class="search-container">
                        <input type="search" placeholder="Search For Medicines & Health Products" />
                        <img src="assets/images/icon-search.svg" alt="Search" />
                    </div>
                    <!-- Search Results -->
                    <div class="search-results">
                        <!-- Recent Search -->
                        <div class="recent-search">
                            <h5>Recent Search</h5>
                            <ul class="recent-list">
                                <li>
                                    <a href="/searchresults.html"><i class="bx bx-history"></i>Femiplan pills</a>
                                </li>
                                <li>
                                    <a href="/searchresults.html"><i class="bx bx-history"></i>family planning set</a
                  >
                </li>
                <li>
                  <a href="/searchresults.html"><i class="bx bx-history"></i>contraceptives</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Search Trending -->
                        <div class="trending-search">
                            <h5>Trending Search</h5>
                            <ul class="trending-list">
                                <li>
                                    <a href="/searchresults.html"><i class="bx bx-up-arrow-alt"></i>Oral Contraceptive</a
                  >
                  <span>100+ people searched</span>
                </li>
                <li>
                  <a href="/searchresults.html"><i class="bx bx-up-arrow-alt"></i>Cough Syrup</a>
                                </li>
                                <li>
                                    <a href="/searchresults.html"><i class="bx bx-up-arrow-alt"></i>Face Wash For Men</a
                  >
                </li>
              </ul>
            </div>

            <!-- Products Section -->
            <div class="featured-search">
              <h5>Products</h5>
              <div class="product-list">
                <!-- Product Item -->
                <div class="product-item">
                  <img
                    src="assets/images/product-images/product4.jpg"
                    alt="Durex Condoms Featherlite 12's"
                    class="product-image"
                  />
                  <div class="product-info">
                    <p class="product-name">Durex Condoms Featherlite 12's</p>
                    <p class="product-price">KES 1375</p>
                    <small class="product-note">200+ people bought today</small>
                  </div>
                </div>
                <!-- Other Product Items -->
                <div class="product-item">
                  <img
                    src="assets/images/product-images/product2.jpg"
                    alt="Durex Condoms Extra Safe 3's"
                    class="product-image"
                  />
                  <div class="product-info">
                    <p class="product-name">Durex Condoms Extra Safe 3's</p>
                    <p class="product-price">KES 475</p>
                  </div>
                </div>
                <div class="product-item">
                  <img
                    src="assets/images/product-images/product6.jpg"
                    alt="Durex Extra Thin Wild Strawberry Flavored"
                    class="product-image"
                  />
                  <div class="product-info">
                    <p class="product-name">
                      Durex Extra Thin Wild Strawberry Flavored
                    </p>
                    <p class="product-price">KES 2235</p>
                  </div>
                </div>
                <div class="product-item">
                  <img
                    src="assets/images/product-images/product1.jpg"
                    alt="Durex Condoms Pleasure Me 3's"
                    class="product-image"
                  />
                  <div class="product-info">
                    <p class="product-name">Durex Condoms Pleasure Me 3's</p>
                    <p class="product-price">KES 525</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="top-right">
        <div class="delivery-wrap">
          <div class="delivery-info">
            <span class="icon">
              <img src="assets/images/icon-flash.svg" alt="Icon" />
            </span>
            <div class="icon-text">
              Express delivery to <br /><span class="text-bold"
                >80100, Mombasa</span
              >
            </div>
            <span class="icon-down">
              <img src="assets/images/caret-down-orange.svg" alt="Icon" />
            </span>
          </div>
          <div class="delivery-dropdown">
            <div class="dropdown-wrap">
              <div class="dropdown-header">
                <h4>Choose Your Location</h4>
                <p class="text-muted">
                  Delivery options and speeds may differ depending on your
                  location
                </p>
              </div>
              <button class="btn-primary btn-rounded">
                Sign in to see your address
                <i class="bx bx-right-arrow-alt"></i>
              </button>
              <div class="dropdown-body">
                <div class="delivery-options my-2">
                  <button class="btn-primary">Delivery</button>
                  <button class="btn-outline-light">Pickup</button>
                </div>
                <div class="address-list">
                  <label class="radio-container">
                    <input type="radio" name="address" checked />
                    <div class="d-flex flex-column ms-1">
                      <span class="name">John Doe</span>
                      <span class="address"
                        >House no. 14, Links Road, 80100, Mombasa, Kenya</span
                      >
                    </div>
                  </label>
                  <label class="radio-container">
                    <input type="radio" name="address" />
                    <div class="d-flex flex-column ms-2">
                      <span class="name">John Doe</span>
                      <span class="address"
                        >House no. 14, Links Road, 80100, Mombasa, Kenya</span
                      >
                    </div>
                  </label>
                  <a href="/searchresults.html" class="manage-link">Manage Addresses</a>
                        </div>
                    </div>
                </div>
                <div class="zip-code d-flex gap-2 mt-2">
                    <input type="text" placeholder="Enter Your Zip Code" class="form-control" />
                    <button class="btn-grey btn-rounded">Check</button>
                </div>
            </div>
        </div>

        <ul class="btn-circle-wrap">
            <li class="notification-icon">
                <a href="" class="btn-circle"><img src="assets/images/icon-notification.svg" alt="notification" /></a>
            </li>
            <li class="icons-top">
                <a href="" class="btn-circle"><img src="assets/images/icon-percent.svg" alt="percent" /></a>
            </li>
            <li class="icons-top">
                <a href="/loginpage.html" class="btn-circle"><img src="assets/images/icon-user.svg" alt="user" /></a>
            </li>
            <li class="icons-top cart-dropdown-wrap">
                <a href="/cartpage.html" class="btn-circle"><img src="assets/images/icon-cart.svg" alt="cart" /></a>

                <div class="cart-dropdown">
                    <div class="cart-item">
                        <div class="product-info">
                            <img src="assets/images/product-images/product11.jpg" alt="Pampers" class="item-image" />
                            <div class="item-details">
                                <h3>
                                    <a href="/cartpage.html">Pampers Swaddlers 360 Pull-On Diapers, Size 5</a
                      >
                    </h3>
                    <p>By Pampers</p>
                  </div>
                </div>
                <div class="item-quantity">
                  <div class="d-flex justify-start">
                    <div class="change-quantity">
                      <button class="minus">-</button>
                      <span>1</span>
                      <button class="plus">+</button>
                    </div>
                    <button class="cart-delete">
                      <img src="assets/images/icons/delete-icon.png" />
                    </button>
                  </div>
                </div>
                <div class="item-price">
                  <p class="product-price-old">KES 400</p>
                  <p class="product-price">KES 380</p>
                </div>
              </div>
              <div class="cart-item">
                <div class="product-info">
                  <img
                    src="assets/images/product-images/product11.jpg"
                    alt="Pampers"
                    class="item-image"
                  />
                  <div class="item-details">
                    <h3>
                      <a href="/cartpage.html"
                        >Pampers Swaddlers 360 Pull-On Diapers, Size 5</a
                      >
                    </h3>
                    <p>By Pampers</p>
                  </div>
                </div>
                <div class="item-quantity">
                  <div class="d-flex justify-start">
                    <div class="change-quantity">
                      <button class="minus">-</button>
                      <span>1</span>
                      <button class="plus">+</button>
                    </div>
                    <button class="cart-delete">
                      <img src="assets/images/icons/delete-icon.png" />
                    </button>
                  </div>
                </div>
                <div class="item-price">
                  <p class="product-price-old">KES 400</p>
                  <p class="product-price">KES 380</p>
                </div>
              </div>
              <div class="cart-item">
                <div class="product-info">
                  <img
                    src="assets/images/product-images/product11.jpg"
                    alt="Pampers"
                    class="item-image"
                  />
                  <div class="item-details">
                    <h3>
                      <a href="/cartpage.html"
                        >Pampers Swaddlers 360 Pull-On Diapers, Size 5</a
                      >
                    </h3>
                    <p>By Pampers</p>
                  </div>
                </div>
                <div class="item-quantity">
                  <div class="d-flex justify-start">
                    <div class="change-quantity">
                      <button class="minus">-</button>
                      <span>1</span>
                      <button class="plus">+</button>
                    </div>
                    <button class="cart-delete">
                      <img src="assets/images/icons/delete-icon.png" />
                    </button>
                  </div>
                </div>
                <div class="item-price">
                  <p class="product-price-old">KES 400</p>
                  <p class="product-price">KES 380</p>
                </div>
              </div>
              <div
                class="cart-total d-flex justify-content-between items-center my-1 my-xl-2"
              >
                <span>Cart Total</span>
                <span>KES 385</span>
              </div>
              <div
                class="d-flex align-items-center justify-content-end my-3 my-xl-4"
              >
                <button
                  class="btn-white-border btn-rounded btn-sm me-2"
                  onclick="window.location.href='/cartpage.html';"
                >
                  View Cart
                </button>
                <button
                  class="btn-green btn-rounded btn-sm"
                  onclick="window.location.href='/checkout.html';"
                >
                  Go To Checkout
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navigation-wrap">
    <div class="mydawa-container">
      <div class="header-navigation">
        <ul>
          <!-- Parent Category -->
          <li class="position-relative main-dropdown">
            <a href="/searchresults.html" class="category-toggle">
              Shop by Category
              <img
                src="assets/images/caret-down.svg"
                alt="Icon"
                class="icon-caret"
              />
            </a>

                                    <!-- Dropdown Menu -->
                                    <div class="shadow-lg dropdown-list">
                                        <div class="mega-menu">
                                            <!-- First Column - Main Categories -->
                                            <div class="menu-column" id="main-categories">
                                                <a href="/searchresults.html" class="menu-item" data-category="categoryOne">
                                                    <div class="d-flex align-items-center flex-grow-1">
                                                        <img src="assets/images/product-category/cat1.png" alt="" class="card-img-top" />
                                                        <div class="text-info">
                                                            <p>Beauty & Personal Care</p>
                                                            <span class="text-muted">Upto 25% Off</span>
                                                        </div>
                                                    </div>
                                                    <i class="menu-item-arrow bx bx-chevron-right"></i>
                                                </a>
                                                <a href="/searchresults.html" class="menu-item" data-category="category-two">
                                                    <div class="d-flex align-items-center flex-grow-1">
                                                        <img src="assets/images/product-category/cat1.png" alt="" class="card-img-top" />
                                                        <div class="text-info">
                                                            <p>Beauty & Personal Care</p>
                                                            <span class="text-muted">Upto 25% Off</span>
                                                        </div>
                                                    </div>
                                                    <i class="menu-item-arrow bx bx-chevron-right"></i>
                                                </a>
                                                <a href="/searchresults.html" class="menu-item" data-category="category-three">
                                                    <div class="d-flex align-items-center flex-grow-1">
                                                        <img src="assets/images/product-category/cat1.png" alt="" class="card-img-top" />
                                                        <div class="text-info">
                                                            <p>Beauty & Personal Care</p>
                                                            <span class="text-muted">Upto 25% Off</span>
                                                        </div>
                                                    </div>
                                                    <i class="menu-item-arrow bx bx-chevron-right"></i>
                                                </a>
                                                <a href="/searchresults.html" class="menu-item" data-category="category-four">
                                                    <div class="d-flex align-items-center flex-grow-1">
                                                        <img src="assets/images/product-category/cat1.png" alt="" class="card-img-top" />
                                                        <div class="text-info">
                                                            <p>Beauty & Personal Care</p>
                                                            <span class="text-muted">Upto 25% Off</span>
                                                        </div>
                                                    </div>
                                                    <i class="menu-item-arrow bx bx-chevron-right"></i>
                                                </a>
                                                <a href="/searchresults.html" class="menu-item" data-category="category-five">
                                                    <div class="d-flex align-items-center flex-grow-1">
                                                        <img src="assets/images/product-category/cat1.png" alt="" class="card-img-top" />
                                                        <div class="text-info">
                                                            <p>Beauty & Personal Care</p>
                                                            <span class="text-muted">Upto 25% Off</span>
                                                        </div>
                                                    </div>
                                                    <i class="menu-item-arrow bx bx-chevron-right"></i>
                                                </a>
                                                <a href="/searchresults.html" class="menu-item" data-category="category-six">
                                                    <div class="d-flex align-items-center flex-grow-1">
                                                        <img src="assets/images/product-category/cat1.png" alt="" class="card-img-top" />
                                                        <div class="text-info">
                                                            <p>Beauty & Personal Care</p>
                                                            <span class="text-muted">Upto 25% Off</span>
                                                        </div>
                                                    </div>
                                                    <i class="menu-item-arrow bx bx-chevron-right"></i>
                                                </a>
                                            </div>

                                            <!-- Second Column - Subcategories -->
                                            <div class="menu-column" id="subcategories"></div>

                                            <!-- Third Column - Products -->
                                            <div class="menu-column" id="products"></div>
                                        </div>
                                    </div>
            </li>
            <li class="position-relative main-dropdown">
                <a href="">
              Shop by Condition<img
                src="assets/images/caret-down.svg"
                alt="Icon"
                class="icon-caret"
              />
            </a>
                <!-- Dropdown Menu -->
                <div class="shadow-lg dropdown-list list-menu">
                    <ul class="flex-column">
                        <li>
                            <a href="/telehealthpage.html">
                                <span>Special Offers<i class="bx bx-chevron-right"></i
                    ></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="position-relative main-dropdown">
                <a href="">
              Shop by Brand
              <img
                src="assets/images/caret-down.svg"
                alt="Icon"
                class="icon-caret"
              />
            </a>
                <!-- Dropdown Menu -->
                <div class="shadow-lg dropdown-list list-menu">
                    <ul class="flex-column">
                        <li>
                            <a href="/brandpage.html">
                                <img src="assets/images/product-category/cat2.png" alt="" class="card-img-top" />
                                <div class="text-info">
                                    <p>Durex</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/brandpage.html">
                                <img src="assets/images/product-category/cat3.png" alt="" class="card-img-top" />
                                <div class="text-info">
                                    <p>Nivea</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="position-relative main-dropdown">
                <a href="">
              Services<img
                src="assets/images/caret-down.svg"
                alt="Icon"
                class="icon-caret"
              />
            </a>
                <!-- Dropdown Menu -->
                <div class="shadow-lg dropdown-list list-menu">
                    <ul class="flex-column">
                        <li>
                            <a href="/submitpresciption.html">
                                <span>Submit a prescription<i class="bx bx-chevron-right"></i
                    ></span>
                            </a>
                        </li>
                        <li>
                            <a href="/searchresults.html">
                                <span>Upload a HIV Test Results<i
                        class="bx bx-chevron-right"
                      ></i
                    ></span>
                            </a>
                        </li>
                        <li>
                            <a href="/searchresults.html">
                                <span>Book A Consultation<i class="bx bx-chevron-right"></i
                    ></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="position-relative main-dropdown">
                <a href="">
              My Health Center<img
                src="assets/images/caret-down.svg"
                alt="Icon"
                class="icon-caret"
              />
            </a>
                <!-- Dropdown Menu -->
                <div class="shadow-lg dropdown-list list-menu">
                    <ul class="flex-column">
                        <li>
                            <a href="/telehealthpage.html">
                                <span>Telehealth<i class="bx bx-chevron-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="/peppage.html">
                                <span>Pep <i class="bx bx-chevron-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="/preppage.html">
                                <span>Prep<i class="bx bx-chevron-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="/familyplanningpage.html">
                                <span>Family Planning<i class="bx bx-chevron-right"></i
                    ></span>
                            </a>
                        </li>
                        <li>
                            <a href="/sexualwellnesspage.html">
                                <span>Sexual Health<i class="bx bx-chevron-right"></i
                    ></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="right-nav-section">
            <button class="btn-grey btn-rounded btn-sm" onclick="window.location.href='/speaktodoctor.html';">
            Speak to a doctor
          </button>
            <button class="btn-green btn-rounded btn-sm" onclick="window.location.href='/submitpresciption.html';">
            Upload a prescription
          </button>
            <button class="btn-rounded btn-sm border-0 px-1 rounded">
            <img src="assets/images/icons/header-dots.svg" alt="Ham" />
          </button>
        </div>
        </div>
        </div>
        </div>
</header>