<div class="home-slider mydawa-container">
    <div id="homepage-carousel" class="owl-carousel owl-theme">
        <div class="slide-item position-relative text-white">
            <picture>
                <source srcset="assets/images/banners/home-slider-lg.png" media="(min-width: 1200px)">
                <source srcset="assets/images/banners/home-slider.png" media="(min-width: 768px)">
                <img src="assets/images/banners/home-slider.png" alt="Home Slider" class="img-fluid w-100">
            </picture>

            <div class="banner-content-wrap">
                <div class="text-content">
                    <h5>I Choose Wellness</h5>
                    <h2>Supplements to support your well-being.</h2>
                </div>
                <div class="button-wrap">
                    <button class="btn-primary btn-rounded btn-lg">Explore Category</button>
                    <button class="btn-outline-light btn-rounded">Book Consultation</button>
                </div>
            </div>
        </div>
        <div class="slide-item position-relative text-white">
            <picture>
                <source srcset="assets/images/banners/durex-banner.png" media="(min-width: 1200px)">
                <source srcset="assets/images/banners/durex-banner.png" media="(min-width: 768px)">
                <img src="assets/images/banners/durex-banner.png" alt="Home Slider" class="img-fluid w-100">
            </picture>

            <div class="container-fluid h-100 d-flex align-items-center position-absolute top-0 start-0 w-100 h-100">
                <div class="text-content">
                    <h5>What is this?</h5>
                    <h2>Supplements to support <br> your well-being.</h2>
                    <div class="button-wrap">
                        <button class="btn-primary btn-rounded">Explore Category</button>
                        <button class="btn-outline-light btn-rounded">Book Consultation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Dots Container (Ensure it exists inside the home-slider) -->
    <div class="custom-dots-container"></div>
</div>