<section class="homepage-slider p-2 p-lg-3 mx-lg-4">
    <div id="homepage-carousel" class="owl-carousel owl-theme">
        <!-- Slide 1 -->
        <div class="slide-item position-relative text-white" style="background-image: url('assets/images/home-slider.png'); background-size: cover; background-position: center; min-height: 400px;">
            <div class="container-fluid h-100 d-flex align-items-center">
                <div class="text-content text-start ms-5 mr-auto">
                    <h5 class="text-start text-white">I Choose Wellness</h5>
                    <h2 class="text-white text-start">Supplements to support <br> your well-being.</h2>
                    <div class="mt-4 d-lg-flex">
                        <button class="btn-primary btn-rounded me-3">Explore Category 
                            <i class='bx bx-right-arrow-alt'></i>
                        </button>
                        <button class="btn-outline-light btn-rounded">Book Consultation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>