<section class="offer-section">
    <div class="mydawa-container">
        <h2 class="section-heading mb-3">Offers Of The Day</h2>
        <div class="position-relative">
            <!-- Carousel -->
            <div id="offer-carousel" class="owl-carousel owl-theme">
                <!-- Product Card 1 -->
                <div class="card product-card">
                    <span class="sale-badge">Flat 5% Off</span>
                    <button class="btn-wishlist">
                        <svg viewBox="0 0 16 15"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.67972 12.4908C8.4177 12.6637 8.18823 12.809 8.00334 12.9234C7.8179 12.8073 7.58752 12.6598 7.32432 12.4843C6.60785 12.0065 5.65753 11.3279 4.71199 10.5203C3.76185 9.70877 2.8448 8.79074 2.17235 7.83843C1.49289 6.87619 1.125 5.9667 1.125 5.15119C1.125 3.21124 2.63035 1.70326 4.40901 1.70326V1.70329L4.41711 1.70323C5.50651 1.69441 6.54166 2.26303 7.15213 3.23934L7.99508 4.58744L8.84511 3.2438C9.46115 2.27002 10.4961 1.70095 11.5872 1.70325C13.3641 1.71296 14.8647 3.21678 14.875 5.15343C14.8743 5.98749 14.5041 6.90526 13.8269 7.86714C13.1551 8.82121 12.2391 9.73643 11.2899 10.5433C10.3452 11.3463 9.39563 12.0184 8.67972 12.4908Z" stroke="#E61B77" stroke-width="2"/>
                        </svg>
                    </button>
                    <div class="img-box">
                        <img src="assets/images/product-images/product1.png" alt="Product 1" class="product-img">
                        <span class="product-weight">250gms</span>
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Snacks</p>
                        <h5 class="product-title">Naara Chocolate Cookies 250gms</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price-old">KES 400</p>
                                <p class="product-price">KES 380</p>
                            </div>

                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"><i class='bx bx-plus'></i> Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card product-card">
                    <span class="sale-badge">Flat 5% Off</span>
                    <button class="btn-wishlist">
                        <svg viewBox="0 0 16 15"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.67972 12.4908C8.4177 12.6637 8.18823 12.809 8.00334 12.9234C7.8179 12.8073 7.58752 12.6598 7.32432 12.4843C6.60785 12.0065 5.65753 11.3279 4.71199 10.5203C3.76185 9.70877 2.8448 8.79074 2.17235 7.83843C1.49289 6.87619 1.125 5.9667 1.125 5.15119C1.125 3.21124 2.63035 1.70326 4.40901 1.70326V1.70329L4.41711 1.70323C5.50651 1.69441 6.54166 2.26303 7.15213 3.23934L7.99508 4.58744L8.84511 3.2438C9.46115 2.27002 10.4961 1.70095 11.5872 1.70325C13.3641 1.71296 14.8647 3.21678 14.875 5.15343C14.8743 5.98749 14.5041 6.90526 13.8269 7.86714C13.1551 8.82121 12.2391 9.73643 11.2899 10.5433C10.3452 11.3463 9.39563 12.0184 8.67972 12.4908Z" stroke="#E61B77" stroke-width="2"/>
                        </svg>
                    </button>
                    <div class="img-box">
                        <img src="assets/images/product-images/product2.png" alt="Product2" class="product-img">
                        <span class="product-weight">250gms</span>
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Sexual Wellness</p>
                        <h5 class="product-title">Durex Condoms Featherlite 3's</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price">KES 725</p>
                            </div>
                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"><i class='bx bx-plus'></i> Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card product-card">
                    <span class="sale-badge">Flat 5% Off</span>
                    <button class="btn-wishlist">
                        <svg viewBox="0 0 16 15"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.67972 12.4908C8.4177 12.6637 8.18823 12.809 8.00334 12.9234C7.8179 12.8073 7.58752 12.6598 7.32432 12.4843C6.60785 12.0065 5.65753 11.3279 4.71199 10.5203C3.76185 9.70877 2.8448 8.79074 2.17235 7.83843C1.49289 6.87619 1.125 5.9667 1.125 5.15119C1.125 3.21124 2.63035 1.70326 4.40901 1.70326V1.70329L4.41711 1.70323C5.50651 1.69441 6.54166 2.26303 7.15213 3.23934L7.99508 4.58744L8.84511 3.2438C9.46115 2.27002 10.4961 1.70095 11.5872 1.70325C13.3641 1.71296 14.8647 3.21678 14.875 5.15343C14.8743 5.98749 14.5041 6.90526 13.8269 7.86714C13.1551 8.82121 12.2391 9.73643 11.2899 10.5433C10.3452 11.3463 9.39563 12.0184 8.67972 12.4908Z" stroke="#E61B77" stroke-width="2"/>
                        </svg>
                    </button>
                    <div class="img-box">
                        <img src="assets/images/product-images/product3.png" alt="Product2" class="product-img">
                        <span class="product-weight">250gms</span>
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Sexual Wellness</p>
                        <h5 class="product-title">Durex Condoms Featherlite 3's</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price">KES 725</p>
                            </div>
                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"><i class='bx bx-plus'></i> Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card product-card">
                    <span class="sale-badge">Flat 5% Off</span>
                    <button class="btn-wishlist">
                        <svg viewBox="0 0 16 15"  xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.67972 12.4908C8.4177 12.6637 8.18823 12.809 8.00334 12.9234C7.8179 12.8073 7.58752 12.6598 7.32432 12.4843C6.60785 12.0065 5.65753 11.3279 4.71199 10.5203C3.76185 9.70877 2.8448 8.79074 2.17235 7.83843C1.49289 6.87619 1.125 5.9667 1.125 5.15119C1.125 3.21124 2.63035 1.70326 4.40901 1.70326V1.70329L4.41711 1.70323C5.50651 1.69441 6.54166 2.26303 7.15213 3.23934L7.99508 4.58744L8.84511 3.2438C9.46115 2.27002 10.4961 1.70095 11.5872 1.70325C13.3641 1.71296 14.8647 3.21678 14.875 5.15343C14.8743 5.98749 14.5041 6.90526 13.8269 7.86714C13.1551 8.82121 12.2391 9.73643 11.2899 10.5433C10.3452 11.3463 9.39563 12.0184 8.67972 12.4908Z" stroke="#E61B77" stroke-width="2"/>
                        </svg>
                    </button>
                    <div class="img-box">
                        <img src="assets/images/product-images/product4.png" alt="Product2" class="product-img">
                        <span class="product-weight">250gms</span>
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Sexual Wellness</p>
                        <h5 class="product-title">Durex Condoms Featherlite 3's</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price">KES 725</p>
                            </div>

                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"><i class='bx bx-plus'></i> Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Custom Navigation Buttons -->
            <!-- <div class="custom-nav-buttons">
                <button class="btn btn-outline-secondary prev-btn">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="btn btn-outline-secondary next-btn">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div> -->
        </div>
    </div>
</section>