<section class="product-promotions">
    <div class=" mydawa-container">
        <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-6">
                <div class="promotion-card card-pink d-flex align-items-center p-4 rounded" style="background-color: #fde8f1;">
                    <div class="promotion-text me-auto">
                        <p class="heading mb-2">Feather-like Dreams</p>
                        <h5 class="promo-text">Pleasure Extreme</h5>
                        <button class="btn-grey">Shop Now</button>
                    </div>
                    <div class="promotion-image position-relative">
                        <img src="assets/images/product-showcase/product-showcase-1.png" alt="Durex Product" class="product-image">
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-6">
                <div class="promotion-card card-purple d-flex align-items-center p-4 rounded" style="background-color: #e6f4ff;">
                    <div class="promotion-text me-auto">
                        <p class="heading mb-2">Refresh & Hydrate</p>
                        <h5 class="promo-text">With NIVEA Body Care</h5>
                        <button class="btn-grey">Shop Now</button>
                    </div>
                    <div class="promotion-image position-relative">
                        <img src="assets/images/product-showcase/product-showcase-2.png" alt="Durex Product" class="product-image">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>