@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
html,
body {
  background: #e6e6e6;
  min-height: 100%;
  font: 18px/1.5 "Figtree", serif;
  color: rgba(54, 52, 52, 0.8);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

body {
  padding: 8px 0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.homepage-slider .up-chat ul, .footer-main .bottom-footer ul, .footer-main .sub-footer-top .qr-list, .btn-circle-wrap, .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-main {
  background: white;
  width: 100%;
  max-width: 1320px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

.navigation {
  background: #F6F6FF;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .navigation {
    display: none;
  }
}
.navigation ul {
  display: flex;
  font-size: 14px;
  padding-left: 48px;
}
.navigation ul li:nth-child(4) {
  margin-left: 28px;
  padding-left: 28px;
  position: relative;
  z-index: 1;
}
.navigation ul li:nth-child(4)::after {
  content: "";
  background: #E6E6EE;
  width: 1px;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 10px;
}
.navigation ul a {
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: #363434;
}
.navigation ul img {
  max-width: 100%;
}
.navigation ul .left-icon {
  margin-right: 8px;
}
.navigation ul .icon-caret {
  margin-left: 8px;
}

/*button Starts*/
.buttons-wrap {
  display: flex;
  gap: 16px;
}
@media only screen and (max-width: 991.98px) {
  .buttons-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767.98px) {
  .buttons-wrap {
    gap: 8px;
    grid-template-columns: 1fr;
  }
}

.btn-custom {
  background-color: transparent;
  display: -moz-inline-flex;
  display: inline-flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  color: #343434;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.575rem 1.5rem;
  text-decoration: none;
  letter-spacing: 1.5px;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 991.98px) {
  .btn-custom {
    font-size: 16px;
  }
}

.btn-white-outline {
  border: 1px solid #c1c1c1;
}
.btn-white-outline svg {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
@media only screen and (max-width: 991.98px) {
  .btn-white-outline svg {
    width: 20px;
    height: 20px;
  }
}
.btn-white-outline svg path {
  transition: all 0.4s ease-in-out;
  fill: #383535;
}
.btn-white-outline:hover {
  background: #ff0080;
  border-color: #ff0080;
  color: #fff;
}
.btn-white-outline:hover svg path {
  fill: #fff;
}

.btn-circle-wrap {
  display: flex;
  gap: 8px;
}

.btn-circle {
  background: #F1F1F5;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.btn-circle:hover {
  background: #e3e3e9;
}

.delivery-info {
  background: #FFECD6;
  min-width: 208px;
  width: 208px;
  height: 52px;
  padding: 12px 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .delivery-info {
    width: 178px;
    height: 44px;
  }
}
.delivery-info .icon {
  min-width: 20px;
  width: 20px;
  height: 24px;
  margin-right: 12px;
  margin-top: -2px;
}
.delivery-info .icon-text {
  min-width: 116px;
  font-size: 12px;
  color: #373434;
  line-height: 16px;
  font-weight: 300;
}
.delivery-info .icon-text .text-bold {
  font-size: 14px;
  font-weight: 500;
}
.delivery-info .icon-down {
  min-width: 10px;
  width: 10px;
  height: 24px;
  margin-left: 4px;
  margin-top: -4px;
}

/*button Ends*/
.logo {
  width: 145px;
  display: block;
}
@media screen and (max-width: 1100px) {
  .logo {
    width: 92px;
  }
}
.logo img {
  max-width: 100%;
}

.top-header {
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.top-left {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  gap: 24px;
}

.top-left-box {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.top-left-box .ham {
  min-width: 20px;
  margin-right: 12px;
  display: none;
}
@media screen and (max-width: 1100px) {
  .top-left-box .ham {
    display: block;
  }
}

.top-right {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .top-right {
    gap: 8px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  width: 430px;
  height: 52px;
  background: #fff;
  border-radius: 25px;
  padding: 10px 16px;
  border: 1px solid #D4DEE5;
}
@media screen and (max-width: 1100px) {
  .search-container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 84px;
  }
}
.search-container input {
  width: calc(100% - 20px);
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
}
.search-container img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.notification-icon {
  display: none;
}
@media screen and (max-width: 1100px) {
  .notification-icon {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .icons-top {
    display: none;
  }
}

.footer-main {
  border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
}
.footer-main .sub-footer-top {
  background: #FAF4F7;
  padding: 0 62px;
  border-bottom: 1px solid #ECDDE4;
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer-top {
    padding: 0 32px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .footer-main .sub-footer-top .bc-wrap {
    -moz-flex-direction: column;
    flex-direction: column;
  }
}
.footer-main .sub-footer-top .bar-code-section {
  padding: 42px 0 36px;
  border-right: 1px solid #ECDDE4;
}
@media only screen and (max-width: 1199.98px) {
  .footer-main .sub-footer-top .bar-code-section {
    order: 2;
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer-top .bar-code-section {
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 24px 0 24px;
  }
}
.footer-main .sub-footer-top .subscribe-section {
  padding: 42px 0 16px;
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer-top .subscribe-section {
    padding: 32px 0;
    border-bottom: 1px solid #ECDDE4;
  }
}
.footer-main .sub-footer-top .qr-code-custom {
  background: #fff;
  min-width: 130px;
  width: 130px;
  height: 132px;
  margin-right: 28px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.footer-main .sub-footer-top .qr-code-custom img {
  width: 80px;
  height: 80px;
}
.footer-main .sub-footer-top .box-qr-content {
  padding: 6px 0 0;
}
.footer-main .sub-footer-top .box-qr-content h5 {
  font-size: 18px;
  color: #363434;
  font-weight: 800;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer-top .box-qr-content h5 {
    font-weight: 500;
  }
}
.footer-main .sub-footer-top .qr-list {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}
.footer-main .sub-footer-top .qr-list li {
  width: 50%;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer-top .qr-list li {
    width: 100%;
  }
}
.footer-main .sub-footer-top .qr-list .icoo-box {
  min-width: 16px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 2px;
}
.footer-main .sub-footer-top .subscribe-section {
  padding-left: 42px;
}
@media only screen and (max-width: 1199.98px) {
  .footer-main .sub-footer-top .subscribe-section {
    order: 1;
    padding-left: 0;
  }
}
.footer-main .sub-footer-top .subscribe-section h5 {
  font-size: 18px;
  color: #363434;
  font-weight: 800;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer-top .subscribe-section h5 {
    font-weight: 500;
  }
}
.footer-main .sub-footer {
  background: #FAF4F7;
  padding: 36px 48px;
}
@media screen and (max-width: 768px) {
  .footer-main .sub-footer {
    padding: 36px 24px;
  }
}
@media screen and (max-width: 1100px) {
  .footer-main .sub-footer .row-border {
    border-bottom: 1px solid #ECDDE4;
    padding-bottom: 24px;
  }
}
.footer-main .sub-footer .authorized-box {
  background: white;
  margin-left: 28px;
  margin-right: 8px;
  padding: 32px 42px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
@media screen and (max-width: 1100px) {
  .footer-main .sub-footer .authorized-box {
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
  }
}
.footer-main .sub-footer .authorized-box h6 {
  font-size: 18px;
  color: #363434;
  font-weight: 700;
  margin-bottom: 8px;
}
.footer-main .sub-footer .authorized-box p {
  font-size: 14px;
  max-width: 320px;
}
.footer-main .sub-footer .footer-links h6 {
  font-size: 12px;
  color: #969294;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1100px) {
  .footer-main .sub-footer .footer-links h6 {
    margin-top: 20px;
  }
}
.footer-main .sub-footer .footer-links a {
  display: block;
  font-size: 14px;
  color: #363434;
  font-weight: 400;
  margin-bottom: 8px;
  text-decoration: none;
}
.footer-main .bottom-footer {
  background: #e61a77;
  min-height: 50px;
  padding: 12px 0;
}
.footer-main .bottom-footer ul {
  margin-left: 40px;
}
.footer-main .bottom-footer ul li {
  font-size: 14px;
}
.footer-main .bottom-footer ul li a {
  color: white;
  padding: 2px 10px;
  text-decoration: none;
}

.btn-black {
  background: #363434;
  font-size: 18px;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.btn-black:hover {
  background: #1c1b1b;
  color: white;
}

.form-control-radius {
  font-size: 16px;
  min-height: 52px;
  padding-left: 24px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.homepage-slider {
  padding: 40px 0 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1100px) {
  .homepage-slider {
    padding: 60px 0 0;
  }
}
.homepage-slider .slide-item {
  position: relative;
  color: #fff;
  /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  min-height: 380px;
}
@media only screen and (min-width: 1440px) {
  .homepage-slider .slide-item {
    min-height: 480px !important;
  }
}
@media screen and (max-width: 768px) {
  .homepage-slider .slide-item {
    display: block;
  }
}
.homepage-slider .slide-item .text-content {
  padding: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .homepage-slider .slide-item .text-content {
    padding: 10px;
  }
}
.homepage-slider .slide-item h5 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1440px) {
  .homepage-slider .slide-item h5 {
    font-size: 22px;
  }
}
.homepage-slider .slide-item h2 {
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 1440px) {
  .homepage-slider .slide-item h2 {
    font-size: 42px;
    line-height: 111%;
    margin-bottom: 20px;
  }
}
.homepage-slider .slide-item .btn-primary {
  border-radius: 30px;
  padding: 15px 30px;
}
@media screen and (max-width: 768px) {
  .homepage-slider .slide-item .btn-primary {
    padding: 12px 30px;
    font-size: 16px;
  }
}
.homepage-slider .slide-item .btn-outline-light {
  border-radius: 30px;
  padding: 15px 30px;
}
@media screen and (max-width: 768px) {
  .homepage-slider .slide-item .btn-outline-light {
    padding: 12px 30px;
    font-size: 16px;
  }
}
.homepage-slider .up-chat {
  position: absolute;
  right: -12px;
  bottom: 28px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .homepage-slider .up-chat {
    display: none;
  }
}
.homepage-slider .up-chat ul li {
  margin-bottom: 4px;
}
.homepage-slider .up-chat ul li a {
  background: #fff;
  font-size: 13px;
  color: #363434;
  font-weight: 700;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  box-shadow: 0 4px 4px rgba(54, 52, 52, 0.1);
}
.homepage-slider .up-chat img {
  margin-right: 8px;
}

.feature-section {
  margin: 0 -16px;
  padding-bottom: 0;
  padding: 42px 32px 0;
}
@media only screen and (min-width: 1440px) {
  .feature-section {
    padding: 42px 80px 0;
  }
}
.feature-section .feature-item .icon {
  min-width: 100px;
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 991px) {
  .feature-section .feature-item .icon {
    min-width: 88px;
    width: 88px;
    height: 88px;
  }
}/*# sourceMappingURL=all.css.map */