.tab-content {
    .accordion-button:not(.collapsed) {
        background-color: white;
    }
    .accordion-button {
        h3 {}
        h4 {
            @include responsive-font(16px, 22px, 16px, 22px);
        }
    }
}

.accordion-heading1 {
    color: $black;
    @include responsive-font(16px, 22px, 16px, 22px);
    font-family: $figtreeSemiBold;
    p {
        font-family: $figtreeLight;
        @include responsive-font(14px, 20px, 14px, 20px);
        margin-bottom: 0;
        margin-top: 5px;
        @include respond-to(xxl) {
            margin-top: 8px;
        }
    }
}

.nav {
    .nav-link {
        border-radius: 8px;
        color: $grey9;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: $figtreeSemiBold;
        white-space: nowrap;
        @include responsive-font(14px, 20px, 14px, 20px);
        padding: 10px 18px;
        @include respond-to(xxl) {
            padding: 15px 30px;
        }
        &.text-danger {
            color: $red;
            svg {
                path {
                    stroke: $red;
                }
            }
        }
        svg {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 10px;
            @include respond-to(xxl) {
                width: 36px;
                height: 36px;
                margin-right: 16px;
            }
            path {
                stroke: #737171;
            }
        }
        &.active,
        &.show>.nav-link {
            background-color: #F8F8FC;
            color: $black;
            svg {
                path {
                    stroke: $black;
                }
            }
        }
    }
}

#profileAccordion {}

.tab-title-heading {
    margin-bottom: 15px;
    @include respond-to(xxl) {
        margin-bottom: 25px;
    }
    a {
        &:hover,
        &:focus {
            color: $grey9;
            svg {
                path {
                    fill: $grey9;
                }
            }
        }
    }
    svg {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin-right: 10px;
        @include respond-to(xxl) {
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }
        path {
            fill: $black;
        }
    }
    h3 {
        font-family: $figtreeSemiBold;
        @include responsive-font(20px, 30px, 20px, 30px);
        line-height: 1.2;
        margin-bottom: 0;
    }
    a {
        display: flex;
        align-items: center;
    }
    h5 {
        font-family: $figtree;
        @include responsive-font(16px, 22px, 16px, 22px);
        strong {
            font-family: $figtreeSemiBold;
        }
    }
}

#orders {}

#profile {}