.tab-content {
    .accordion-button:not(.collapsed) {
        background-color: white;
    }
    .accordion-button {
        h3 {}
        h4 {
            @include responsive-font(16px, 16px, 28px);
        }
    }
}

.accordion-heading1 {
    color: $black;
    @include responsive-font(20px, 20px, 32px);
    font-family: $figtreeSemiBold;
    p {
        font-family: $figtreeLight;
        @include responsive-font(14px, 14px, 22px);
        margin-bottom: 0;
        margin-top: 5px;
        @include respond-to(xxl) {
            margin-top: 8px;
        }
    }
}

.nav {
    .nav-link {
        border-radius: 8px;
        color: $grey9;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: $figtreeSemiBold;
        @include responsive-font(14px, 14px, 20px);
        padding: 10px 18px;
        @include respond-to(xxl) {
            padding: 15px 30px;
        }
        &.text-danger {
            color: $red;
            svg {
                path {
                    stroke: $red;
                }
            }
        }
        svg {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-right: 10px;
            @include respond-to(xxl) {
                width: 36px;
                height: 36px;
                margin-right: 16px;
            }
            path {
                stroke: #737171;
            }
        }
        &.active,
        &.show>.nav-link {
            background-color: #F8F8FC;
            color: $black;
            svg {
                path {
                    stroke: $black;
                }
            }
        }
    }
}

#profileAccordion {
    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
        box-shadow: none;
    }
    .accordion-item {
        border: 1px solid #f1f1f1;
        border-radius: 12px;
    }
    .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
    .accordion-item:first-of-type>.accordion-header .accordion-button {
        border: 1px solid #f1f1f1;
        border-radius: 12px!important;
    }
    .accordion-item:first-of-type>.accordion-header .accordion-button {
        border: none;
        border-radius: 12px!important;
        box-shadow: none;
    }
}

.tab-title-heading {
    font-family: $figtreeSemiBold;
    @include responsive-font(20px, 20px, 32px);
    line-height: 1.2;
}

#orders {
    .nav-tabs {
        border: none;
        .nav-item {
            border: none;
            .nav-link {
                border-radius: 0;
                color: $black;
                @include responsive-font(14px, 14px, 22px);
                font-family: $figtree;
                padding: 5px 0;
                margin-right: 15px;
                @include respond-to(xxl) {
                    margin-right: 25px;
                }
                &:hover,
                &:focus {
                    border: none;
                    color: $green;
                    font-family: $figtreeMedium;
                }
                &.active {
                    background-color: white;
                    border: none;
                    border-bottom: 2px solid $green!important;
                    font-family: $figtreeMedium;
                }
            }
        }
    }
    .table {
        border-radius: 0!important;
        $font-family: $figtree;
        border: none;
        border-top: 1px solid #d4dee5;
    }
    thead {
        th {
            background-color: #F1F1F5;
            font-family: $figtreeLight;
            color: #929292;
            border-bottom: none;
            box-shadow: none;
        }
    }
    tbody {
        tr {
            border: none;
            &:hover {
                background-color: #f1f3f5;
            }
            td {
                font-family: $figtreeMedium;
            }
        }
    }
    .form-search-container {
        background-color: white;
        .search-input {}
    }
}

#profile {
    .accordion-button {
        padding: 30px;
        @include respond-to(xxl) {
            padding: 48px;
        }
    }
    .accordion-body {
        padding: 0px 30px 30px 30px;
        @include respond-to(xxl) {
            padding: 0 48px 48px 48px;
        }
    }
    .input-row {
        gap: 20px;
        @include respond-to(xxl) {
            gap: 35px;
        }
    }
}