.breadcrumb-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 60px;
    @include respond-to(lg) {
        margin-top: 20px;
    }
    @include respond-to(xxl) {
        margin-top: 36px;
        margin-bottom: 50px;
    }
    .breadcrumb {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: $black;
                font-family: $figtreeMedium;
                transition: color 0.3s ease;
                @include responsive-font(0.875em, 0.875em, 1.2em);
                &:hover {
                    color: $primary;
                }
                &.active {
                    font-family: $figtreeBold;
                    @include responsive-font(0.875em, 0.875em, 1.2em);
                    color: $black;
                }
            }
            .divider {
                margin: 0 10px;
                color: $black;
                @include respond-to(xxl) {
                    margin: 0 18px;
                }
            }
        }
    }
}