.btn-primary {
    background-color: $primary;
    color: white;
    font-family: $figtreeMedium;
    border: 1px solid $primary;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
    @include responsive-font(1em, 1em, 1.6em);
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $primarydark;
        border-color: $primarydark;
    }
}

.btn-outline {
    background-color: #fff;
    color: $black;
    font-family: $figtreeMedium;
    border: 1px solid #D4DEE5;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
    @include responsive-font(1em, 1em, 1.6em);
    &:hover,
    &:focus {
        background-color: $grey2;
        border-color: $primary;
        color: $primary;
        span,
        svg {
            color: $primary;
        }
    }
}

.btn-outline-light {
    background-color: #f3f3f3;
    color: $black;
    font-family: $figtreeMedium;
    border: 1px solid #f3f3f3;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
    @include responsive-font(1em, 1em, 1.6em);
    &:hover,
    &:focus {
        background-color: $grey3;
        border-color: $primary;
        color: $primary;
    }
}

.btn-grey {
    background-color: $black;
    font-family: $figtreeMedium;
    border: 1px solid $black;
    color: white;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
    @include responsive-font(1em, 1em, 1.6em);
    &:hover,
    &:focus {
        background-color: $grey8;
        border-color: $blackdark;
        svg {
            fill: white;
        }
    }
    svg {
        width: 10px;
        height: 10px;
        @include respond-to(xxl) {
            width: 16px;
            height: 16px;
        }
    }
}

.btn-white-border {
    background-color: #fff;
    color: $black;
    border: 1px solid $black;
    font-family: $figtreeMedium;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
    @include responsive-font(1em, 1em, 1.6em);
    &:hover,
    &:focus {
        background-color: $black;
        color: #fff;
        svg {
            path {
                stroke: white;
            }
        }
    }
    svg {
        width: 12px;
        height: 12px;
        margin-bottom: 2px;
        margin-right: 7px;
        @include respond-to(xxl) {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
}

.btn-rounded {
    border-radius: 30px;
    @include respond-to(xxl) {
        border-radius: 50px;
    }
}

.btn-green {
    background-color: $green;
    color: white;
    font-family: $figtreeMedium;
    border: 1px solid $green;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
    @include responsive-font(1em, 1em, 1.6em);
    &:hover,
    &:focus {
        background-color: $greendark;
        border-color: $greendark;
    }
}

.btn-dark {
    background-color: $black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    @include responsive-font(1em, 1em, 1.6em);
    &:hover,
    &:focus {
        background-color: $grey8;
        color: #fff;
    }
}

.btn-white {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: $primary;
    &:hover,
    &:focus {
        background-color: #f2f2f2;
        color: #444;
    }
}

.btn-rounded {
    border-radius: 30px;
    @include respond-to(xxl) {
        border-radius: 50px;
    }
}

.btn-sm {
    padding: 5px 15px;
    font-size: 12px;
    @include respond-to(xxl) {
        padding: 8px 20px;
        font-size: 100%;
    }
}

.btn-lg {
    padding: 14px 20px;
    @include respond-to(xxl) {
        padding: 20px 32px;
    }
}

.btn-cart {
    font-family: $outfit;
    background-color: $green;
    font-size: 15px;
    border-radius: 25px;
    color: white;
    padding: 10px 15px;
    height: fit-content;
    @include respond-to(lg) {
        font-size: 20px;
    }
    @include respond-to(xxl) {
        font-size: 24px;
        padding: 14px 20px;
        border-radius: 32px;
    }
}

.select-button {
    border: 1px solid #D4DEE5;
    background-color: #F1F1F5;
    color: $black;
    font-family: $figtree;
    padding: 14px 25px;
    border-radius: 12px;
    @include responsive-font(1em, 1em, 1.6em);
    @include respond-to(xxl) {
        padding: 16px 40px;
    }
}

.btn-dots {
    background: #EEEEF8;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}