// Form input & text area
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
textarea {
    border: 1px solid #d4dee5;
    border-radius: 8px !important;
    padding: 12px 14px;
    @include responsive-font(16px, 16px, 24px);
    font-family: $figtree;
    color: $black;
    outline: none;
    transition: all 0.3s ease;
    @include respond-to(xxl) {
        padding: 16px 22px;
    }
    &:focus {
        border: 2px solid;
        border-color: $blue;
        // box-shadow: 0 0 5px rgba(230, 27, 119, 0.4);
    }
    // **Disabled & Prefilled State**
    &:disabled,
    &.filled {
        background-color: #F1F1F5 !important;
        color: $black !important;
        border-color: #D4DEE5;
        cursor: not-allowed;
    }
    &.filled {
        pointer-events: none;
    }
    &.readonly {
        background-color: #F1F1F5;
    }
}

textarea {
    min-height: 160px;
    resize: none;
    width: 100%;
    outline: none;
    @include respond-to(xxl) {
        min-height: 220px;
    }
    &::placeholder {
        color: $black;
    }
}

label {
    font-family: $figtreeLight;
    color: $black;
    margin-bottom: 7px;
    @include responsive-font(0.85em, 0.85em, 1.2em);
    @include respond-to(xxl) {
        margin-bottom: 12px;
    }
    .required {
        color: $primary;
    }
}

select {
    appearance: none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23000' d='M0 0h10L5 6z'/%3E%3C/svg%3E") no-repeat right 10px center;
    background-size: 10px 6px;
}

.textarea-wrap {
    display: flex;
    flex-direction: column;
}

.textarea-label {
    font-family: $figtreeLight;
    color: $black;
    margin-bottom: 5px;
    @include responsive-font(1em,
    1em,
    1.6em);
    @include respond-to(xxl) {
        margin-bottom: 8px;
    }
}


/* Hide default calendar icon in Chrome, Safari, Edge, and Firefox */

input[type="date"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding-right: 40px;
    /* Ensure space for custom icon */
}


/* Remove additional styles on WebKit browsers */

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/* Remove additional styles on Firefox */

input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}


/* Hide default radio button */

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    /* Default border */
    border-radius: 50%;
    /* Circular shape */
    background-color: white;
    /* White space inside */
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


/* Inner grey circle when unselected */

input[type="radio"]::before {
    content: "";
    width: 10px;
    /* Inner grey circle */
    height: 10px;
    background-color: #bbb;
    /* Grey inner color */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}


/* When checked, change border and inner circle */

input[type="radio"]:checked {
    border-color: #516bf1;
    /* Outer border color when checked */
}


/* Inner pink circle when checked */

input[type="radio"]:checked::before {
    background-color: #516bf1;
    /* Inner circle when checked */
}

.radio-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
    @include respond-to(xxl) {
        margin-right: 35px;
    }
    input[type="radio"] {
        width: 16px;
        height: 16px;
        accent-color: #e61b77;
        cursor: pointer;
        margin-right: 7px;
        padding: 3px;
        border-radius: 50% !important;
        @include respond-to(xxl) {
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
    }
    label {
        color: $black;
        cursor: pointer;
        margin-left: 7px;
        font-weight: 500;
        @include responsive-font(1em,
        1em,
        1.6em);
        font-family: $figtreeMedium;
        margin-bottom: 0;
    }
}

// Checkbox
.form-check {
    display: flex;
    align-items: center;
    input {
        margin-right: 10px;
    }
    label {
        @include responsive-font(13px,
        13px,
        22px);
        margin-bottom: 0;
    }
    .form-check-input {
        width: 15px;
        height: 15px;
        @include respond-to(xxl) {
            width: 25px;
            height: 25px;
        }
    }
    .form-check-input:checked {
        background-color: $blue;
        border-color: $blue;
    }
    .form-check-input:focus {
        box-shadow: none;
    }
}

.custom-checkbox-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-checkbox-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include respond-to(xxl) {
        margin-bottom: 16px;
    }
}

.custom-checkbox {
    display: none;
    /* Hide the default checkbox */
}


/* Custom checkbox style */

.custom-checkbox+label {
    position: relative;
    padding-left: 30px;
    /* Space for custom checkbox */
    cursor: pointer;
    color: $black;
    display: flex;
    align-items: center;
    @include responsive-font(1em,
    1em,
    1.6em);
}


/* Checkbox box */

.custom-checkbox+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #d4dee5;
    border-radius: 4px;
    background: white;
    transition: all 0.3s ease-in-out;
    @include respond-to(xxl) {
        width: 22px;
        height: 22px;
    }
}


/* Checkmark when checked */

.custom-checkbox:checked+label::before {
    background: #6574ff;
    border-color: #6574ff;
    content: "✔";
    color: white;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
    @include responsive-font(0.85em,
    0.85em,
    1.1em);
}


/* Default Page Wrapper */

.form-page-wrap {
    width: 100%;
    margin: 10px auto;
    @include respond-to(lg) {
        max-width: 700px;
        margin: 40px auto;
    }
    @include respond-to(xxl) {
        max-width: 1120px;
        margin: 70px auto;
    }
    &.small-wrap {
        @include respond-to(lg) {
            max-width: 600px;
            margin: 40px auto;
        }
        @include respond-to(xxl) {
            max-width: 960px;
            margin: 70px auto;
        }
    }
}


/* Default Form Heading */

.forms-heading {
    text-align: left;
    margin-bottom: 20px;
    @include respond-to(xxl) {
        margin-bottom: 35px;
    }
    h2 {
        @include responsive-font(2.2em,
        2.2em,
        3em);
        font-family: $figtreeBold;
    }
    h3 {
        @include responsive-font(1.25em,
        1.25em,
        1.8em);
        font-family: $figtreeSemiBold;
        color: $black;
        margin-bottom: 0;
    }
    p {
        font-family: $figtreeLight;
        @include responsive-font(0.875em,
        0.875em,
        1.2em);
        margin-bottom: 0;
    }
}


/* Form Elements */

.form-title {
    @include responsive-font(1.25em,
    1.25em,
    1.8em);
    font-family: $figtreeSemiBold;
    color: $black;
    margin-bottom: 15px;
    @include respond-to(xxl) {
        margin-bottom: 25px;
    }
    &.border-t {
        margin-top: 35px;
        padding-top: 35px;
        border-top: 1px solid #e7ecf4;
        @include respond-to(xxl) {
            margin-top: 50px;
            padding-top: 50px;
        }
    }
}

.form-subtitle {
    font-family: $figtreeLight;
    @include responsive-font(0.875em,
    0.875em,
    1.2em);
    margin-bottom: 14px;
    @include respond-to(xxl) {
        margin-bottom: 20px;
    }
}

.form-heading {
    @include responsive-font(1em,
    1em,
    1.4em);
    font-family: $figtreeSemiBold;
    color: $black;
    margin-bottom: 15px;
    @include respond-to(xxl) {
        margin-bottom: 25px;
    }
}

// File Uploads Section
.upload-section {
    margin-top: 10px;
    padding: 30px;
    border-radius: 12px;
    border: 1px dashed #c7cdd2;
    text-align: center;
    .upload-box {
        .icon {
            background-color: #f1f1f5;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            margin: 10px auto;
            border-radius: 50%;
            @include respond-to(xxl) {
                width: 85px;
                height: 85px;
                margin: 16px auto;
            }
            .file-upload-icon {
                width: 28px;
                height: 28px;
                object-fit: contain;
                @include respond-to(xxl) {
                    width: 35px;
                    height: 35px;
                    margin: 16px auto;
                }
            }
        }
        p {
            color: $black;
            @include responsive-font(1.25em,
            1.25em,
            1.8em);
            font-family: $figtreeSemiBold;
            line-height: 1.2;
            margin-top: 20px;
            @include respond-to(xxl) {
                margin-top: 40px;
            }
        }
    }
}

.upload-notice {
    background-color: #f6f6f8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #f6f6f8;
    @include respond-to(xxl) {
        margin-top: 16px;
        padding: 16px;
    }
    svg {
        margin-right: 7px;
        width: 14px;
        height: 14px;
        @include respond-to(xxl) {
            width: 24px;
            height: 24px;
        }
    }
    span {
        color: $black;
        font-family: $figtreeMedium;
        display: block;
        @include responsive-font(0.875em,
        0.875em,
        1.2em);
    }
    &.warning {
        border: 1px solid #e61b1b;
        svg {
            path {
                stroke: #e61b1b;
            }
        }
        span {
            color: #e61b1b;
        }
    }
}


/* Uploaded File Section */

.uploaded-file-section {
    margin: 20px auto;
    @include respond-to(xxl) {
        margin: 35px auto;
    }
    .file-item {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        background-color: #fff;
        gap: 15px;
    }
    .file-image {
        width: 64px;
        height: 64px;
        border-radius: 8px;
        object-fit: cover;
        @include respond-to(xxl) {
            width: 102px;
            height: 102px;
        }
    }
    .file-info {
        flex-grow: 1;
    }
    .file-name {
        margin: 0;
        font-family: $figtreeBold;
        @include responsive-font(1em,
        1em,
        1.6em);
        color: $black;
    }
    .file-details {
        @include responsive-font(0.875em,
        0.875em,
        1.2em);
        color: $black;
    }
    .delete-button {
        background: none;
        border: none;
        color: $primary;
        cursor: pointer;
        padding: 0;
        margin-left: auto;
        svg {
            width: 36px;
            height: 36px;
            @include respond-to(xxl) {
                width: 50px;
                height: 50px;
            }
        }
    }
    .delete-button:hover {
        color: $primary;
    }
}

input.long-field {
    @include respond-to(lg) {
        min-width: 350px;
    }
    @media (min-width: 1800px) {
        min-width: 550px;
    }
}

.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    @include respond-to(sm) {
        flex-direction: row;
    }
    @include respond-to(xxl) {
        margin-bottom: 36px;
    }
    .input-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        .calendar-icon {
            position: absolute;
            right: 10px;
            top: 25px;
            @include respond-to(xxl) {
                right: 16px;
                top: 42px;
            }
            img {}
        }
    }
}

// Form Image Grid
.image-select-grid {
    display: grid;
    gap: 20px;
    // Default (Mobile: 2 Columns)
    grid-template-columns: repeat(2, 1fr);
    @include respond-to(md) {
        // Tablets (Medium Screens)
        grid-template-columns: repeat(3, 1fr);
    }
    @include respond-to(lg) {
        // Large Screens (4 Columns)
        grid-template-columns: repeat(4, 1fr);
    }
    @include respond-to(xxl) {
        // Large Screens (4 Columns)
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
    }
    .image-option {
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 100%;
        height: 110px;
        padding: 14px;
        @include respond-to(md) {
            // Tablets (Medium Screens)
            padding: 18px;
            height: 140px;
        }
        @include respond-to(lg) {
            height: 160px;
            padding: 25px;
        }
        @include respond-to(xxl) {
            // Large Screens (4 Columns)
            height: 220px;
            padding: 35px;
        }
        &.active {
            border-color: #45a85c;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 10px;
                right: 10px;
                width: 22px;
                height: 22px;
                background: url("../images/checked-ico.svg") no-repeat center center;
                background-size: contain;
                @include respond-to(xxl) {
                    top: 16px;
                    right: 16px;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }
        &:hover,
        &:focus,
        &.active {
            border-color: #45a85c;
            img {
                filter: grayscale(0%);
            }
        }
    }
}

// OTP form group
.input-group.input-group-otp {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex: auto auto;
    .otp-input {
        text-align: center;
        border: 1px solid #d4dee5;
        border-radius: 5px;
        width: 80px;
    }
}

.resend-otp {
    color: #e61b77;
    cursor: pointer;
    @include responsive-font(0.75em,
    0.75em,
    1em);
    font-family: $figtreeSemiBold;
    border-bottom: 1px dashed #e61b77;
    padding-bottom: 0px;
    text-decoration: none;
}

ol.form-list {
    font-family: $figtreeLight;
    @include responsive-font(1em,
    1em,
    1.4em);
    line-height: 1.6;
}

.consent-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin-top: 15px;
    @include respond-to(md) {
        padding: 30px;
    }
    @include respond-to(xxl) {
        padding: 40px;
    }
    h2 {
        margin-bottom: 10px;
        font-family: $figtreeBold;
        @include responsive-font(1em,
        1em,
        1.6em);
        color: $black;
        @include respond-to(xxl) {
            margin-bottom: 16px;
        }
    }
    p {
        font-family: $figtree;
        @include responsive-font(0.875em,
        0.875em,
        1.2em);
        color: #8D8D92;
        line-height: 1.5;
    }
    ol {
        padding-left: 15px;
        @include responsive-font(0.875em,
        0.875em,
        1.2em);
        font-family: $figtreeMedium;
        color: #8D8D92;
        border-top: 1px solid #F8F8F8;
        padding-top: 20px;
        margin-top: 12px;
        @include respond-to(xxl) {
            padding-left: 20px;
            padding-top: 25px;
            margin-top: 20px;
        }
        li {
            margin-bottom: 14px;
            line-height: 1.2;
            @include respond-to(xxl) {
                margin-bottom: 20px;
            }
        }
    }
}


/* Large Radio inputs */

.radio-option-full {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: white;
    border: 2px solid #D4DEE5;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    &:hover {
        border: 2px solid $blue;
    }
    @include respond-to(xxl) {
        padding: 35px;
    }
    /* Hidden Radio Input */
    input[type="radio"] {
        display: none;
    }
    /* Custom Radio Button */
    .radio {
        width: 20px;
        height: 20px;
        border: 2px solid #C7D0E4;
        border-radius: 50%!important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        transition: all 0.3s;
        margin-right: 10px;
        @include respond-to(xxl) {
            width: 30px;
            height: 30px;
            margin-right: 15px;
        }
    }
    /* Inner dot for selected radio */
    .radio::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #C7D0E4;
        border-radius: 50%;
        transition: all 0.3s;
        @include respond-to(xxl) {
            width: 15px;
            height: 15px;
        }
    }
    /* Selected State */
    input[type="radio"]:checked+.radio {
        border-color: $blue;
    }
    input[type="radio"]:checked+.radio::before {
        background: $blue;
    }
    /* Content */
    .content {
        flex: 1;
        text-align: left;
        h3 {
            @include responsive-font(1em,
            1em,
            1.4em);
            margin-bottom: 5px;
            color: $black;
            font-family: $figtreeMedium;
        }
        p {
            @include responsive-font(0.875em,
            0.875em,
            1.1em);
            margin: 5px 0 0;
            color: $black;
            font-family: $figtreeLight;
        }
    }
    /* Highlight Selection */
    input[type="radio"]:checked~.content {
        color: $blue;
    }
    input[type="radio"]:checked~.content h3 {
        color: $blue;
    }
    input[type="radio"]:checked {
        border-color: $blue;
    }
    &.radio-option-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        height: 100%;
        width: 100%;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            @include respond-to(xxl) {
                gap: 16px;
            }
            h3 {
                @include responsive-font(16px,
                16px,
                22px);
                margin-bottom: 5px;
                color: $black;
                font-family: $interSemiBold;
            }
            img {
                width: 24px;
                height: 24px;
                @include respond-to(xxl) {
                    width: 36px;
                    height: 36px;
                }
            }
        }
        // .radio {
        //     width: 18px;
        //     height: 18px;
        //     @include respond-to(xxl) {
        //         width: 28px;
        //         height: 28px;
        //     }
        // }
        // /* Inner dot for selected radio */
        // .radio::before {
        //     width: 8px;
        //     height: 8px;
        //     @include respond-to(xxl) {
        //         width: 12px;
        //         height: 12px;
        //     }
        // }
    }
}

.custom-dropdown-select {
    position: relative;
    .dropdown-toggle {
        border: 2px solid #D4DEE5;
        background: #fff;
        color: $black;
        width: 100%;
        text-align: left;
        padding: 10px 18px;
        border-radius: 5px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="blue"><path fill-rule="evenodd" d="M5.293 7.707a1 1 0 011.414 0L10 11.086l3.293-3.379a1 1 0 111.414 1.414l-4 4.121a1 1 0 01-1.414 0l-4-4.121a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>');
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 16px;
        @include responsive-font(1em,
        1em,
        1.6em);
        &.selected {
            background-color: #F1F1F5;
            border: 2px solid $blue;
        }
        &.filled {
            background-color: #F1F1F5;
        }
        @include respond-to(xxl) {
            padding: 16px 22px;
        }
        &:after {
            display: none;
        }
    }
    .dropdown-menu {
        width: 100%;
        li {
            padding: 0;
        }
    }
    .dropdown-item {
        padding: 7px 15px;
        @include responsive-font(1em,
        1em,
        1.6em);
        @include respond-to(xxl) {
            padding: 12px 24px;
        }
    }
    .dropdown-item:hover {
        background: #F8F8FC;
    }
    .dropdown-item.selected {
        background: #F8F8FC;
        font-family: $figtree;
    }
    .dropdown-item.create-new {
        color: $primary;
        text-align: right;
        font-family: $figtreeMedium;
        border-top: 1px solid #ddd;
        @include responsive-font(1em,
        1em,
        1.6em);
        margin-right: 0;
        margin-left: auto;
    }
    .dropdown-item.create-new:hover {
        background: #F8F8FC;
    }
}

.create-new-link {
    color: $primary;
    font-family: $figtreeMedium;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 14px;
    @include responsive-font(1em,
    1em,
    1.4em);
    @include respond-to(xxl) {
        margin-top: 16px;
        margin-bottom: 20px;
    }
}

.form-search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f7;
    border-radius: 26px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #ccc;
    @include respond-to(lg) {
        max-width: 230px;
    }
    @include respond-to(xxl) {
        max-width: 320px;
    }
    .search-input {
        border: none;
        background: transparent;
        flex: 1;
        outline: none;
        padding: 8px;
        @include responsive-font(0.85em,
        0.85em,
        1.1em);
    }
    .search-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        svg {
            width: 18px;
            height: 18px;
            fill: $black;
        }
    }
}

.custom-address-dropdown {
    width: 100%;
    display: none;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    top: 90px;
    padding: 20px;
    @include respond-to(xxl) {
        top: 125px;
    }
    .custom-dropdown-item {
        padding: 10px;
        cursor: pointer;
        transition: background 0.2s;
        &:hover {
            background: #f8f9fa;
        }
        strong {
            color: $green;
        }
    }
}

// Phone INput with country flag and code
.phone-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: white;
    input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
    }
}


/* reset bootstrap input shadow */

.nav-link:focus-visible {
    box-shadow: none;
}


/* Adjust intl-tel-input styles */

.iti input[type=tel] {
    border: 1px solid #d4dee5;
    border-radius: 8px !important;
    padding: 12px 14px!important;
    @include responsive-font(1em,
    1em,
    1.6em);
    font-family: $figtree;
    color: $black;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 123px;
    width: calc(100% - 123px);
    @include respond-to(xxl) {
        padding: 16px 22px;
    }
    &:focus {
        border: 2px solid;
        border-color: $blue;
        // box-shadow: 0 0 5px rgba(230, 27, 119, 0.4);
    }
}

.iti--separate-dial-code .iti__selected-flag {
    padding: 10px 20px!important;
    background-color: white!important;
    border: 1px solid #d4dee5!important;
    border-radius: 8px !important;
}

.iti {
    width: 100%;
}

.iti--separate-dial-code .iti__selected-flag {
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/img/flags@2x.png");
    }
}