.custom-pagination {
    display: flex;
    list-style: none;
    padding: 0;
    .page-item {
        margin: 0 4px;
        &.active .page-link {
            background-color: $primary; // Pink background for active
            color: white;
            border-color: $primary;
        }
        &.disabled .page-link {
            color: #aaa;
            background: transparent;
            border: none;
        }
        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 15px;
            background: white;
            color: #A2A3A8;
            $font-family: $figtreeSemiBold;
            transition: all 0.2s ease-in-out;
            text-decoration: none;
            border: none;
            margin: 0;
            border-radius: 8px;
            border: 1px solid transparent;
           @include responsive-font(16px, 16px, 16px, 20px);
            @include respond-to(xxl) {
                padding: 8px 18px;
            }
            &:hover,
            &:focus {
                background-color: #f8f8f8;
                color: $primary;
                border-color: $primary;
                box-shadow: none;
            }
        }
        &.prev .page-link,
        &.next .page-link {
            background: transparent;
            border: none;
            color: white;
            font-weight: 500;
            font-size: 14px;
        }
    }
}