.product-card {
    padding: 7px;
    border: 1px solid #D4DEE5;
    border-radius: 12px;
    position: relative;
    text-decoration: none;
    @include respond-to(lg) {
        padding: 15px;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        border: 1px solid $primary;
        
        .product-title {
            color: $primary;
        }
    }
    .sale-badge {
        background-color: $primary;
        color: white;
        position: absolute;
        top: 0;
        left: 20px;
        font-family: $figtreeSemiBold;
        line-height: 1.4;
        padding: 3px 8px;
        border-radius: 0 0 7px 7px;
        @include responsive-font(14px, 14px, 20px);   
        @include respond-to(xxl) {
            padding: 5px 12px;
            left: 30px;
        }
    }
    .action-btns {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: absolute;
        right: 20px;
        top: 10px;
        gap: 7px;
        z-index: 9;
        @include respond-to(xxl) {
            right: 25px;
            top: 20px;
            gap: 10px;
        }
    }
    .btn-view,
    .btn-wishlist {
        border-radius: 50%;
        padding: 7px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond-to(xxl) {
            width: 40px;
            height: 40px;
        }
        img.img-active {
            display: none;
        }
        img.img-inactive {
            display: block;
        }
        &:hover,
        &:focus {
            img.img-active {
                display: block;
            }
            img.img-inactive {
                display: none;
            }
        }
    }
    .btn-view {
        border: 1px solid #898989;
        color: #898989;
        background-color: white;
        &:hover,
        &:focus {
            background-color: $black;
        }
    }
    .btn-wishlist {
        border: 1px solid $primary;
        color: $primary;
        background-color: white;
        &:hover,
        &:focus {
            background-color: rgba($primary, 0.2);
        }
    }
    .product-weight {
        position: absolute;
        right: -13px;
        top: 80px;
        background-color: #F6F6FF;
        color: $black;
        border-radius: 20px;
        padding: 5px 20px;
        rotate: -90deg;
        z-index: 9;
        @include responsive-font(14px, 16px, 20px);  
        @include respond-to(lg) {
            right: -18px;
            top: 80px;
            
        }
        @include respond-to(xxl) {
            padding: 8px 32px;
            top: 120px;
            
            right: -22px;
        }
    }
    .img-box {
        // margin: 50px 30px;
        position: relative;
        padding: 30px 30px 0 30px;
        @include respond-to(lg) {
            padding: 30px;
        }
        @include respond-to(xxl) {
            padding: 40px;
        }
        .product-img {
            object-fit: contain;
            width: auto;
            height: 180px;
            margin: 0 auto;
            @include respond-to(lg) {
                height: 220px;
            }
            @include respond-to(xxl) {
                height: 370px;
            }
        }
    }
    .card-body {
        padding: 5px;
        @include respond-to(lg) {
            padding: 10px;
        }
    }
    .product-category {
        color: #8A8A8A;
        font-family: $figtreeLight;
        text-align: left;
        margin-bottom: 2px;
        line-height: 1.5;
        @include responsive-font(14px, 16px, 24px); 
    }
    .product-title {
        color: $black;
        text-align: left;
        max-width: 220px;
        font-family: $figtreeBold;
        font-size: 15px;
        line-height: 1.6;
        display: -webkit-box;
        -webkit-line-clamp: 2; // Restricts text to 2 lines
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px; // Ensures same height for all titles  
        @include responsive-font(15px, 18px, 24px);
        @include respond-to(lg) {
            font-family: $figtreeExtraBold;
            max-width: 100%;
            height: calc(20px * 2);
        }
        @include respond-to(xxl) {
            height: calc(20px * 2);
        }
    }
    .product-price-old {
        color: #b2b2b2;
        text-decoration: line-through;
        font-family: $figtreeMedium;
        margin-bottom: 0;
        @include responsive-font(15px, 15px, 24px);
    }
    .product-price {
        font-size: 16px;
        color: $black;
        font-family: $figtreeMedium;
        margin-bottom: 0;
        @include responsive-font(16px, 16px, 24px);
    }
}