// SCSS for styling the table
.table {
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #d4dee5;
    font-family: $inter;
    border-radius: 8px !important;
    thead {
        th {
            padding: 12px;
            background-color: #f8f9fa;
            font-family: $interLight;
            color: $grey8;
            padding: 12px 14px;
            @include responsive-font(0.875em, 0.875em, 1.1em);
            @include respond-to(xxl) {
                padding: 16px 22px;
            }
        }
    }
    tbody {
        tr {
            border: none;
            &:hover {
                background-color: #f1f3f5;
            }
            td {
                border: none;
                color: $black;
                font-family: $interMedium;
                @include responsive-font(14px, 14px, 22px);
                padding: 12px 14px;
                @include respond-to(xxl) {
                    padding: 16px 22px;
                }
            }
        }
    }
    /* Custom Checkbox Styles */
    .custom-checkbox {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        user-select: none;
        margin-right: 15px;
    }
    /* Hide default checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* Custom checkbox styling */
    .checkmark {
        width: 18px;
        height: 18px;
        border-radius: 6px;
        background-color: #fff;
        border: 1px solid #D4DEE5;
        /* Default unchecked state */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        @include respond-to(xxl) {
            width: 30px;
            height: 30px;
        }
    }
    /* Checked state */
    .custom-checkbox input:checked+.checkmark {
        background-color: $blue;
        /* Blue background */
        position: relative;
    }
    /* Checkmark icon when checked */
    .custom-checkbox input:checked+.checkmark::after {
        content: '✔';
        font-size: 12px;
        color: white;
        @include respond-to(xxl) {
            font-size: 18px;
        }
    }
}

.table-thumb {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 5px;
    @include respond-to(xxl) {
        width: 38px;
        height: 38px;
    }
}