// SCSS for styling the table
.custom-table {
    background-color: #ffffff;
    border-radius: 8px !important;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    font-family: $inter;
    border: 1px solid #d4dee5;
    thead {
        th {
            padding: 12px;
            background-color: #f8f9fa;
            font-family: $interLight;
            color: $grey8;
            padding: 12px 14px;
            @include responsive-font(0.875em, 0.875em, 1.1em);
            @include respond-to(xxl) {
                padding: 16px 22px;
            }
        }
    }
    tbody {
        tr {
            border: none;
            &:hover {
                background-color: #f1f3f5;
            }
            td {
                border: none;
                color: $black;
                font-family: $interMedium;
                @include responsive-font(0.875em, 0.875em, 1.1em);
                padding: 12px 14px;
                @include respond-to(xxl) {
                    padding: 16px 22px;
                }
            }
        }
    }
    /* Custom Checkbox Styles */
    .custom-checkbox {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        user-select: none;
        margin-right: 15px;
    }
    /* Hide default checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* Custom checkbox styling */
    .checkmark {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        background-color: #E0E0E0;
        /* Default unchecked state */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        @include respond-to(xxl) {
            width: 36px;
            height: 36px;
        }
    }
    /* Checked state */
    .custom-checkbox input:checked+.checkmark {
        background-color: $blue;
        /* Blue background */
        position: relative;
    }
    /* Checkmark icon when checked */
    .custom-checkbox input:checked+.checkmark::after {
        content: '✔';
        font-size: 12px;
        color: white;
        @include respond-to(xxl) {
            font-size: 18px;
        }
    }
}

// Checkbox styling
.form-check-input {
    transform: scale(1.2);
    cursor: pointer;
}

// Status badge styles
.badge {
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 12px;
    font-weight: 600;
}

.status-in-transit {
    background-color: #e6f9e6;
    color: #2e9b2e;
}

.status-processing {
    background-color: #fff3cd;
    color: #856404;
}