.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: white; // Ensures background stays visible
  box-shadow: none; // No shadow initially
  transition: all 0.3s ease-in-out; // Smooth transition
  &.sticky {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.075);
    background: white;
    .header-promo {
      display: none; // Hide the promo section when sticky
    }
    .search-wrap {
      display: none;
    }
    .navigation-wrap {
      display: none;
    }
    .top-header {
      padding: 10px 0;
    }
  }
  .logo {
    width: 92px;
    display: block;
    @include respond-to(lg) {
      width: 145px;
    }
    @include respond-to(xxl) {
      width: 220px;
    }
    img {
      max-width: 100%;
      @include respond-to(xxl) {
        height: 65px;
      }
    }
  }

  .btn-circle-wrap {
    display: flex;
    list-style: none;
    gap: 8px;
    .btn-circle {
      background: #f1f1f5;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to(xxl) {
        width: 60px;
        height: 60px;
        margin-left: 10px;
        padding: 16px;
      }
      img {
        width: 20px;
        height: 20px;
        @include respond-to(xxl) {
          width: 28px;
          height: 28px;
        }
      }
      &:hover {
        background: #e3e3e9;
      }
    }
  }

  .notification-icon {
    display: block;
    @include respond-to(lg) {
      display: none;
    }
  }
  .icons-top {
    display: none;
    @include respond-to(lg) {
      display: block;
    }
  }
}

header {
  z-index: 2;
  position: relative;
}

.inner-container {
  overflow: visible !important;
}
