.main-dropdown {
  position: relative;
  &:first-child {
    .dropdown-list {
      overflow-x: scroll;
    }
  }
  .dropdown-list {
    display: none;
    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  &:hover {
    .dropdown-list {
      display: block;
      .mega-menu {
        display: flex;
      }
    }
  }
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a {
    justify-content: start !important;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
}
.card-img-top {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 7px;
  margin-right: 7px;
}
.text-info {
  p {
    margin-bottom: 0;
    color: $black;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }
  span {
    font-weight: 400;
    font-size: 12px;
    color: #909090;
  }
}

.mega-menu {
  width: 870px;
  max-width: 870px;
  display: flex;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 400px;
  padding: 28px 8px;
}

.menu-column {
  border-right: 1px solid #eee;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex-basis: calc(100% / 3);
  height: calc(400px - (28px * 2));
  overflow-x: scroll;
  &:last-child {
    border-right: none;
  }
}

.menu-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #333;
  text-decoration: none;
  justify-content: space-between !important;
  border-radius: 12px;
  &:hover,
  &.active {
    background-color: #f8f9fa;
    .menu-item-arrow {
      opacity: 1;
    }
  }
}
.bx.menu-item-arrow {
  opacity: 0;
  color: #b1b1c3;
  font-size: 20px;
}
.mega-wrap {
  width: 870px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 400px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 8px;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}
.mega-navigation {
  position: relative;
  flex-direction: column;
  &:before {
    content: "";
    position: absolute;
    left: 300px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
  }
  &:after {
    content: "";
    position: absolute;
    left: 610px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
  }
  .dropdown-menu {
    transform: none !important;
    left: 310px !important;
    top: 0 !important;
    border: none;
  }
  .mega-column {
    width: calc(870px / 3);
    @include media-breakpoint-down(lg) {
      width: 100%;
      .mega-column {
        background: #f5f5f5;
        border: 1px solid #ccc;

        .mega-column {
          width: calc(100% - 10px);
          margin-left: 5px;
          background: #fff;
        }
      }
    }
  }
}
.scroll-menu {
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
