.product-promotions {
    margin: 20px auto;
    @include respond-to(lg) {
        margin: 40px auto;
    }
    @include respond-to(xxl) {
        margin: 70px auto;
    }
    .promotion-card {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        @include respond-to(lg) {
            min-height: 400px;
        }
        &.card-pink {
            background-color: #FFE4E9;
            .promotion-image {
                background-image: url('../images/product-showcase/pink-mask.png');
                background-size: contain;
            }
        }
        &.card-purple {
            background-color: #E4EBFF;
            .promotion-image {
                background-image: url('../images/product-showcase/purple-mask.png');
                background-size: contain;
            }
        }
    }
    .promotion-image {
        background-size: contain;
        width: 180px;
        height: 180px;
        background-repeat: no-repeat;
        @include respond-to(lg) {
            width: 300px;
            height: 300px;
        }
        @include respond-to(xxl) {
            width: 380px;
            height: 380px;
        }
        .product-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            // width: 100px;
            height: auto;
            object-fit: contain;
        }
    }
    .promotion-text {
        z-index: 2;
        .heading {
            font-family: $figtree;           
            @include responsive-font(20px, 28px, 24px, 32px);
        }
        .promo-text {
            font-size: 28px;
            font-family: $figtreeExtraBold;
            @include responsive-font(28px, 40px, 32px, 48px);           
        }
        .btn-grey {
            margin-top: 20px;
        }
    }
}