.home-slider {
    position: relative;
    .banner-content-wrap {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        top: 10px; // Align to top
        bottom: 10px; // Allow flexibility for bottom alignment
        transform: none; // Remove centering for small screens
        justify-content: flex-start;
        @include respond-to(lg) {
            // On large screens
            align-items: flex-start; // Center-align content inside
            left: 10px;
            top: 50%; // Move it to the vertical center
            transform: translateY(-50%); // Adjust centering
        }
    }
    .text-content {
        text-align: left;
        color: white;
        line-height: 1.5;
        margin-left: 20px;
        margin-top: 20px;
        @include respond-to(lg) {
            margin-top: 0;
        }
        @include respond-to(xxl) {
            margin-left: 60px;
        }
        h5 {
            font-size: 1.25em;
            font-family: $figtreeLight;
            margin-bottom: 0px;
            @include respond-to(xxl) {
                font-size: 2em;
            }
        }
        h2 {
            font-size: 2em;
            font-family: $figtreeExtraBold;
            line-height: 1.1;
            max-width: 300px;
            @include respond-to(sm) {
                font-size: 3.2em;
                max-width: 600px;
            }
            @include respond-to(lg) {
                font-size: 3.2em;
                max-width: 700px;
            }
            @include respond-to(xxl) {
                font-size: 4em;
                max-width: 850px;
            }
        }
    }
    .button-wrap {
        margin-top: 20px;
        display: flex;
        gap: 12px;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
        @include respond-to(md) {
            flex-direction: row;
        }
        @include respond-to(xxl) {
            gap: 16px;
            margin-left: 60px;
        }
    }
    .slide-item {
        height: 412px;
        margin-bottom: 30px;
        @include respond-to(sm) {
            height: 624px;
        }
        @include respond-to(lg) {
            height: 500px;
            margin-bottom: 50px;
        }
        @include respond-to(xxl) {
            height: 620px;
            margin-bottom: 90px;
        }
        picture {
            overflow: hidden;
            /* Prevent overflow from the image */
            border-radius: 12px;
        }
        picture,
        img {
            display: block;
            /* Remove default inline behavior of images */
            width: 100%;
            /* Ensure full width of the viewport */
            height: 100%;
            /* Ensure it spans full height */
            object-fit: cover;
            /* Maintain aspect ratio and cover the entire container */
        }
    }
    .custom-dots-container {
        display: flex;
        justify-content: center;
        margin-top: 20px; // Default position (for mobile)
    }
    .custom-dots-container .owl-dot {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition: background 0.3s ease;
    }
    .custom-dots-container .owl-dot.active {
        background-color: white;
    }
    @media (min-width: 1200px) {
        .text-content {
            position: relative;
        }
        .custom-dots-container {
            position: absolute;
            top: -40px; // Move dots to the top inside text-content
            left: 0;
            right: 0;
            justify-content: flex-start;
        }
    }
}

.offer-section,
.popular-products,
.blog-section {
    /* Style for the custom navigation container */
    /* Parent container for navigation buttons */
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-50%);
        z-index: 10;
        pointer-events: none;
        /* Prevent blocking content interaction */
    }
    /* Navigation buttons */
    .owl-prev,
    .owl-next {
        background-color: #ffffff!important;
        /* White background */
        border: 1px solid #D4DEE5!important;
        /* Light border */
        border-radius: 50%!important;
        /* Circular buttons */
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Subtle shadow */
        pointer-events: auto;
        /* Enable clicking */
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        @include respond-to(lg) {
            width: 35px;
            height: 35px;
        }
        @include respond-to(xxl) {
            width: 52px;
            height: 52px;
        }
        svg {
            fill: #b1b1b1;
            width: 5px;
            height: 12px;
            @include respond-to(lg) {
                width: 8px;
                height: 16px;
            }
        }
    }
    /* Hover effect for buttons */
    .owl-prev:hover,
    .owl-next:hover {
        background-color: $grey1!important;
        /* Theme color on hover */
        border-color: $grey7!important;
        /* White icon color */
        svg {
            fill: $black;
        }
    }
    /* Default icon styles */
    .owl-prev span,
    .owl-next span {
        color: $black;
        /* Icon color */
        transition: color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 18px;
        }
    }
    /* Hover effect for icons */
    .owl-prev:hover span,
    .owl-next:hover span {
        color: #ffffff;
        /* Icon color changes to white */
    }
    /* Hide disabled buttons */
    // .owl-nav.disabled {
    //     display: none;
    // }
}

.category-slider {
    margin: 20px auto;
    @include respond-to(lg) {
        margin: 40px auto;
    }
    @include respond-to(xxl) {
        margin: 70px auto;
    }
    a.card {
        text-decoration: none;
    }
    .card img {
        border-radius: 12px;
        height: 150px;
        object-fit: cover;
        @include respond-to(lg) {
            height: 280px;
        }
    }
    .card-body {
        padding-top: 10px;
    }
    .card-text {
        font-size: 16px;
        font-family: $figtreeMedium;
        line-height: 24px;
        color: $black;
        padding: 5px 0;
        @include respond-to(lg) {
            font-size: 20px;
            line-height: 28px;
            padding: 5px 15px;
        }
    }
    .sale-badge {
        background-color: $primary;
        color: white;
        position: absolute;
        top: 8px;
        left: 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 3px 8px;
        border-radius: 0 0 7px 7px;
        @include respond-to(xxl) {
            font-size: 20px;
            padding: 5px 12px;
            left: 30px;
        }
    }
}