<div class="full-banner-slider mydawa-container mt-2">
    <div class="p-relative">
        <div id="homepage-carousel" class="owl-carousel owl-theme">
            <div class="slide-item position-relative text-white">
                <picture>
                    <source srcset="assets/images/banners/homeslider1xl.png" media="(min-width: 1800px)">
                    <source srcset="assets/images/banners/homeslider1lg.png" media="(min-width: 1200px)">
                    <source srcset="assets/images/banners/homeslider1md.png" media="(min-width: 768px)">
                    <img src="assets/images/banners/homeslider1sm.png" alt="Home Slider" class="img-fluid w-100">
                </picture>
    
                <div class="banner-content-wrap">
                    <div class="text-content">
                        <h5>I Choose Wellness</h5>
                        <h2>Supplements to support your well-being.</h2>
                    </div>
                    <div class="button-wrap">
                        <button class="btn-primary btn-rounded btn-lg">Explore Category</button>
                        <button class="btn-outline-light btn-rounded btn-lg">Book Consultation</button>
                    </div>
                </div>
            </div>
            <div class="slide-item position-relative text-white">
                <picture>
                    <source srcset="assets/images/banners/homeslider2xl.png" media="(min-width: 1800px)">
                    <source srcset="assets/images/banners/homeslider2lg.png" media="(min-width: 1200px)">
                    <source srcset="assets/images/banners/homeslider2md.png" media="(min-width: 768px)">
                    <img src="assets/images/banners/homeslider2sm.png" alt="Home Slider" class="img-fluid w-100">
                </picture>
                <div class="banner-content-wrap">
                    <div class="text-content">
                        <h5>Get you health in balance</h5>
                        <h2>Wide range of products <br> to choose from.</h2>
                    </div>
                    <div class="button-wrap">
                        <button class="btn-primary btn-rounded btn-lg">Browse Products</button>
                        <button class="btn-outline-light btn-rounded btn-lg">See Offers</button>
                    </div>
                </div>
    
            </div>
        </div>
    
        <!-- Custom Dots Container (Ensure it exists inside the home-slider) -->
        <div class="custom-dots-container"></div>
    </div>
    
</div>