
    <div class="full-banner-slider mydawa-container">
        <div class="p-relative">
            <div id="homebanner-carousel" class="owl-carousel owl-theme themesliderone">
                <div class="slide-item position-relative text-white">
                    <picture>
                        <source srcset="assets/images/banners/homebanner1xl.png" media="(min-width: 1800px)">
                        <source srcset="assets/images/banners/homebanner1lg.png" media="(min-width: 1200px)">
                        <source srcset="assets/images/banners/homebanner1md.png" media="(min-width: 768px)">
                        <img src="assets/images/banners/homebanner1sm.png" alt="Home Slider" class="img-fluid w-100">
                    </picture>
        
                    <div class="banner-content-wrap">
                        <div class="text-content">
                            <h4>Plan your family your way</h4>
                            <p>Whether you need expert advice or prefer to explore on your own, we’ve got you covered. Start your journey to confident family planning with personalized guidance or empowering resources.</p>

                        </div>
                        <div class="button-wrap">
                            <button class="btn-grey btn-rounded btn-lg">Talk to a Specialist
                                <svg class="ms-2" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_50_592)">
                                    <path d="M0.75 5.625H11.2461" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.00391 0.75L11.252 5.625L6.00391 10.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_50_592">
                                    <rect width="12" height="12" fill="white"></rect>
                                    </clipPath>
                                    </defs>
                                </svg></button>
                            <button class="btn-outline-light btn-rounded btn-lg">Learn More</button>
                        </div>
                    </div>
                </div>
                <div class="slide-item position-relative text-white">
                    <picture>
                        <source srcset="assets/images/banners/homeslider2xl.png" media="(min-width: 1800px)">
                        <source srcset="assets/images/banners/homeslider2lg.png" media="(min-width: 1200px)">
                        <source srcset="assets/images/banners/homeslider2md.png" media="(min-width: 768px)">
                        <img src="assets/images/banners/homeslider2sm.png" alt="Home Slider" class="img-fluid w-100">
                    </picture>
                    <div class="banner-content-wrap">
                        <div class="text-content">
                            <h4>Plan your family your way</h4>
                            <p>Whether you need expert advice or prefer to explore on your own, we’ve got you covered. Start your journey to confident family planning with personalized guidance or empowering resources.</p>

                        </div>
                        <div class="button-wrap">
                            <button class="btn-primary btn-rounded btn-lg">Talk to a Specialist
                                <svg class="ms-2" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_50_592)">
                                    <path d="M0.75 5.625H11.2461" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.00391 0.75L11.252 5.625L6.00391 10.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_50_592">
                                    <rect width="12" height="12" fill="white"></rect>
                                    </clipPath>
                                    </defs>
                                </svg></button>
                            <button class="btn-outline-light btn-rounded btn-lg">Learn More</button>
                        </div>
                    </div>
        
                </div>
            </div>
        
            <!-- Custom Dots Container (Ensure it exists inside the home-slider) -->
            <div class="custom-dots-bottom"></div>
        </div>
        
    </div>
    