<section class="offer-section">
    <div class="mydawa-container">
        <h2 class="section-heading mb-3">Offers Of The Day</h2>
        <div class="position-relative">
            <!-- Carousel -->
            <div id="offer-carousel" class="owl-carousel owl-theme">
                <!-- Product Card 1 -->
                <a class="card product-card" href="/productpage.html">
                    <span class="sale-badge">Flat 5% Off</span>
                    <div class="action-btns">
                        <button class="btn-view">
                            <img src="assets/images/icons/show-icon-white.png"  class="img-active">
                            <img src="assets/images/icons/show-icon.png"  class="img-inactive">
                        </button>
                        <button class="btn-wishlist">
                            <img src="assets/images/icons/heart-fill.png"  class="img-active">
                            <img src="assets/images/icons/heart-outline.png"  class="img-inactive">
                        </button>
                    </div>

                    <span class="product-weight">250gms</span>
                    <div class="img-box">
                        <img src="assets/images/product-images/product3.jpg" alt="Product 1" class="product-img">
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Snacks</p>
                        <h5 class="product-title">123 example of a very long Naara Chocolate Cookies 250gms</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price-old">KES 400</p>
                                <p class="product-price">KES 380</p>
                            </div>

                            <button class="btn btn-cart btn-added">
                                <span class="d-none d-lg-inline">Added</span>
                                <span class="d-inline d-lg-none"> Added</span>
                            </button>
                        </div>
                    </div>
                </a>
                <a class="card product-card" href="/productpage.html">
                    <span class="sale-badge">Flat 5% Off</span>
                    <div class="action-btns">
                        <button class="btn-view">
                            <img src="assets/images/icons/show-icon-white.png"  class="img-active">
                            <img src="assets/images/icons/show-icon.png"  class="img-inactive">
                        </button>
                        <button class="btn-wishlist">
                            <img src="assets/images/icons/heart-fill.png"  class="img-active">
                            <img src="assets/images/icons/heart-outline.png"  class="img-inactive">
                        </button>
                    </div>

                    <span class="product-weight">250gms</span>
                    <div class="img-box">
                        <img src="assets/images/product-images/product1.jpg" alt="Product 1" class="product-img">
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Snacks</p>
                        <h5 class="product-title">Naara Chocolate Cookies 250gms</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price-old">KES 400</p>
                                <p class="product-price">KES 380</p>
                            </div>

                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"> Add</span>
                            </button>
                        </div>
                    </div>
                </a>
                <a class="card product-card" href="/productpage.html">
                    <span class="sale-badge">Flat 5% Off</span>
                    <div class="action-btns">
                        <button class="btn-view">
                            <img src="assets/images/icons/show-icon-white.png"  class="img-active">
                            <img src="assets/images/icons/show-icon.png"  class="img-inactive">
                        </button>
                        <button class="btn-wishlist">
                            <img src="assets/images/icons/heart-fill.png"  class="img-active">
                            <img src="assets/images/icons/heart-outline.png"  class="img-inactive">
                        </button>
                    </div>

                    <span class="product-weight">250gms</span>
                    <div class="img-box">
                        <img src="assets/images/product-images/product13.jpg" alt="Product 1" class="product-img">
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Snacks</p>
                        <h5 class="product-title">Naara Chocolate Cookies 250gms</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price-old">KES 400</p>
                                <p class="product-price">KES 380</p>
                            </div>

                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"> Add</span>
                            </button>
                        </div>
                    </div>
                </a>
                <a class="card product-card" href="/productpage.html">
                    <span class="sale-badge">Flat 5% Off</span>
                    <div class="action-btns">
                        <button class="btn-view">
                            <img src="assets/images/icons/show-icon-white.png"  class="img-active">
                            <img src="assets/images/icons/show-icon.png"  class="img-inactive">
                        </button>
                        <button class="btn-wishlist">
                            <img src="assets/images/icons/heart-fill.png"  class="img-active">
                            <img src="assets/images/icons/heart-outline.png"  class="img-inactive">
                        </button>
                    </div>

                    <span class="product-weight">250gms</span>
                    <div class="img-box">
                        <img src="assets/images/product-images/product11.jpg" alt="Product 1" class="product-img">
                    </div>

                    <div class="card-body text-start">
                        <p class="product-category">Snacks</p>
                        <h5 class="product-title">Naara Chocolate Cookies 250gms</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <p class="product-price-old">KES 400</p>
                                <p class="product-price">KES 380</p>
                            </div>

                            <button class="btn btn-cart">
                                <span class="d-none d-lg-inline">Add To Cart</span>
                                <span class="d-inline d-lg-none"> Add</span>
                            </button>
                        </div>
                    </div>
                </a>

            </div>
            <!-- Custom Navigation Buttons -->
            <!-- <div class="custom-nav-buttons">
                <button class="btn btn-outline-secondary prev-btn">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="btn btn-outline-secondary next-btn">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div> -->
        </div>
    </div>
</section>