<section class="healthjourney-section">
  <div class="mydawa-container">
    <h3 class="healthjourney-heading">
      Simplify your health journey with my health center
    </h3>
    <p class="healthjourney-subheading">
      All the information, resources and services you need to make smarter
      health choices.
    </p>
    <div
      id="healthjourney-carousel"
      class="healthjourney-container owl-carousel"
    >
      <div class="healthjourney-card">
        <img
          src="assets/images/health-img/healthjourney1.png"
          alt="Respiratory Infections"
        />
        <h4>Family Planning</h4>
        <p>Almost before we knew it, we had left the ground.</p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="healthjourney-card">
        <img
          src="assets/images/health-img/healthjourney2.png"
          alt="Primary Healthcare Services"
        />
        <h4>Primary Healthcare Services</h4>
        <p>Effortless access to care and prescription delivery.</p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="healthjourney-card">
        <img
          src="assets/images/health-img/healthjourney3.png"
          alt="Sexual Wellness (STD/STI/UTI)"
        />
        <h4>Sexual Wellness (STD/STI/UTI)</h4>
        <p>Confidential consultations and treatments to safeguard health.</p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="healthjourney-card">
        <img
          src="assets/images/health-img/healthjourney4.png"
          alt="Chronic Disease Management"
        />
        <h4>Chronic Disease Management</h4>
        <p>
          Ongoing support for conditions like hypertension, diabetes, and more.
        </p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="healthjourney-card">
        <img
          src="assets/images/health-img/healthjourney5.png"
          alt="Dermatological Care (Acne)"
        />
        <h4>Dermatological Care (Acne)</h4>
        <p>Expert advice for clearer, healthier skin.</p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="healthjourney-card">
        <img
          src="assets/images/health-img/healthjourney6.png"
          alt="Gastroenteritis"
        />
        <h4>Gastroenteritis</h4>
        <p>Quick recovery plans for stomach flu and related conditions.</p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="healthjourney-card healthjourney-card-full">
        <img src="assets/images/simplify.png" alt="Gastroenteritis" />
        <h4>Gastroenteritis</h4>
        <p>Quick recovery plans for stomach flu and related conditions.</p>
        <a href="#" class="arrow-link">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.61084 13.8888L14.3847 6.11496"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.96582 6.46265L14.3883 6.11126L14.0369 13.5337"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
