<section class="symptoms-section">
    <div class=" mydawa-container">
        <div class="symptoms-wrap p-relative">
            <div class="symptoms-badge">Symptom Checker</div>
            <div class="row">
                <!-- Left Section -->
                <div class="col-lg-4 mb-4">

                    <h1 class="symptom-heading">
                        Feeling <span>Unwell?</span>
                    </h1>
                    <p class="symptom-subheading">
                        Take our symptom-checker quiz to find the right products for you
                    </p>
                    <div class="steps mt-4">
                        <div class="step selected mb-3">
                            <div class="step-circle ">
                                <span>1</span>
                            </div>
                            <p class="">Tell us your symptoms</p>
                        </div>
                        <div class="step mb-3">
                            <div class="step-circle ">
                                <span>2</span>
                            </div>
                            <p class="">Analyze the factors</p>
                        </div>
                        <div class="step">
                            <div class="step-circle ">
                                <span>3</span>
                            </div>
                            <p class="">Get expert recommendations</p>
                        </div>
                    </div>
                </div>

                <!-- Right Section -->
                <div class="col-lg-8">
                    <div class="symptom-checker">


                        <!-- Step 1 -->
                        <div class="step-section active">
                            <h5>Select symptoms that are troubling you the most</h5>
                            <div class="symptoms-box-wrap">
                                <div class="symptom-card selected">
                                    <div class="image-bg  bg1">
                                        <img src="assets/images/symptoms/headache.png" alt="Headache" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Headache</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg bg2">
                                        <img src="assets/images/symptoms/sorethroat.png" alt="Sore Throat" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Sore Throat</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg bg3">
                                        <img src="assets/images/symptoms/fever.png" alt="Fever" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Fever</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg  bg4">
                                        <img src="assets/images/symptoms/cough.png" alt="Cough" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Cough</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg  bg5">
                                        <img src="assets/images/symptoms/runnynose.png" alt="Runny Nose" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Runny Nose</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg  bg6">
                                        <img src="assets/images/symptoms/heartburn.png" alt="Heartburn" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Heartburn</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg  bg7">
                                        <img src="assets/images/symptoms/backache.png" alt="Backache" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Backache</p>
                                </div>
                                <div class="symptom-card">
                                    <div class="image-bg  bg8">
                                        <img src="assets/images/symptoms/vomiting.png" alt="Vomiting" class="img-fluid rounded">
                                    </div>
                                    <p class="symptom-name">Vomiting</p>
                                </div>

                            </div>
                            <button class="mt-4 ms-auto mr-0 d-block btn-grey btn-rounded btn-next">Continue</button>
                        </div>

                        <!-- Step 2 -->
                        <div class="step-section">
                            <h5>Have you noticed any triggers?</h5>
                            <button class="btn-prev">Previous</button>
                            <button class="btn-next">Continue</button>
                        </div>

                        <!-- Step 3 -->
                        <div class="step-section">
                            <h5>Do you want to add anything else?</h5>
                            <textarea placeholder="Additional comments"></textarea>
                            <button class="btn-prev">Previous</button>
                            <button class="btn-next">Get Results</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>