<!-- Wishlist Modal -->
<div id="popupModal" class="dawa-modal modal-sm" style="display: none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="d-flex flex-column">
            <div class="popup-header mb-2 d-flex flex-column justify-content-start align-items-start">
                <img src="assets/images/icons/warning-sign.png" alt="Success Icon" class="popup-icon mb-3 mb-lg-4">
                <h2>Deleting account is a permanent action.</h2>
            </div>
            <p>Deleting your MyDawa account is permanent. Once deleted, all your data, including order history, will be lost and cannot be recovered.</p>
            <div class="d-flex align-items-center mt-3 mt-lg-4 flex-wrap gap-2">
                <button class="btn-white-border btn-rounded btn-lg" id="uploadAnother">Cancel</button>
                <button class="btn-lightred btn-rounded btn-lg" id="startShopping">Delete Account</button>
            </div>
        </div>



    </div>
</div>