<!-- Payment Modal -->
<div id="paymentModal" class="dawa-modal modal-sm" style="display: none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="d-flex flex-column">
            <div class="popup-header mb-2 d-flex flex-column justify-content-start align-items-start">
                <h2>Confirmation to procees</h2>
                <p>We need a few details to process your order. Required for prescription items</p>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="gender">Gender <span class="required">*</span></label>
                    <select id="gender">
                        <option value="male">Male</option>
                        <option value="female" selected>Female</option>
                        <option value="other">Other</option>
                        <option value="prefer-not-to-disclose">Prefer not to disclose</option>
                    </select>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label for="dob">Date of Birth <span class="required">*</span></label>
                    <div class="input-icon">
                        <input type="date" id="dob" placeholder="mm/dd/yyyy">
                        <img class="right-icon" src="assets/images/icons//calendar-icon.png" alt="Phone">
                    </div>
                </div>

            </div>
            <div class="form-options d-flex justify-content-start align-items-center mt-0 mt-xl-1 mb-3 mb-xl-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="keep-signed-in">
                    <label class="form-check-label" for="keep-signed-in">
                        I am over 18 years old.<span class="required">*</span>
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-end align-items-center mt-3 mt-lg-4 flex-wrap gap-2">
                <button class="btn-white-border btn-rounded btn-lg">Cancel</button>
                <button class="btn-green btn-rounded btn-lg" onclick="window.location.href='/checkoutpayment.html';">Submit</button>
            </div>
        </div>



    </div>
</div>