<!-- Wishlist Modal -->
<div id="submitprescriptionModal" class="wishlist-modal" style="display: none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="popup-header">
            <img src="assets/images/icons/icon-complete.png" alt="Success Icon" class="popup-icon">
            <h2>Prescription Complete</h2>
        </div>
        <p>We are now processing your prescription. Expect a call from a doctor to confirm it soon.</p>
        <div class="popup-actions">
            <button class="btn-white-border btn-rounded" id="uploadAnother">Upload another prescription</button>
            <button class="btn-green btn-rounded" id="startShopping">Start Shopping</button>
        </div>


    </div>
</div>