<!-- Wishlist Modal -->
<div id="wishlistModal" class="dawa-modal modal-sm wishlist-modal" style="display: none;">
    
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="d-flex flex-column">
            <div class="popup-header mb-1 mb-xl-2 d-flex flex-column justify-content-start align-items-start">
                <div class="product-info">
                    <img src="assets/images/product-images/product1.jpg" alt="Static Product Image">
                    <div class="d-flex justify-content-start flex-column align-items-start">
                        <h4>Durex Condoms Featherlite 12’s</h4>
                        <p>KES 1375</p>
                    </div>
                </div>
            </div>
            <hr>
            <h5>Add To Wishlist</h5>
            
            <div class="form-options mt-1 mt-xl-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="myallergymedicines">
                    <label class="form-check-label" for="myallergymedicines">
                        Saved For Later
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="dadsmedicines">
                    <label class="form-check-label" for="dadsmedicines">
                        Dad’s Medicines
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="privatewishlist" required="">
                    <label class="form-check-label" for="privatewishlist">
                        Private Wishlist
                    </label>
                </div>
            </div>
            <div class="flex justify-content-end align-items-center mt-2 mt-xl-3">
                
                <button class="btn-lg btn-rounded btn-create btn-wishlist-addlist"> 
                    <span>Create New List</span>
                </button>
                <button class="btn-grey btn-lg btn-rounded btn-save btn-wishlist-success">     
                    <span>Save</span>
                </button> 
               
            </div>
            
        </div>
    </div>
</div>