<!-- Wishlist Modal -->
<div id="wishlistModalSuccess" class="dawa-modal modal-sm wishlist-modal" style="display: none;">
    
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="d-flex flex-column">            
            <img class="success-img" src="assets/images/icons/order-success.png" alt="Icon">
            <div class="popup-header mb-2 d-flex flex-column justify-content-center align-items-center">
                <h2>List Successfully Added</h2>
            </div>

        </div>
    </div>
</div>