<!-- Wishlist Modal -->
<div id="wishlistModal" class="wishlist-modal" style="display: none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div class="product-info">
            <img src="assets/images/product-images/product1.jpg" alt="Static Product Image">
            <div class="d-flex justify-content-start flex-column align-items-start">
                <h4>Durex Condoms Featherlite 12’s</h4>
                <p>KES 1375</p>
            </div>
        </div>
        <hr>
        <h5>Add To Wishlist</h5>
        <ul class="custom-checkbox-list">
            <li>
                <input type="checkbox" id="savedforlater" class="custom-checkbox" checked>
                <label for="savedforlater">Saved For Later</label>
            </li>
            <li>
                <input type="checkbox" id="myallergymedicines" class="custom-checkbox">
                <label for="myallergymedicines">My Allergy Medicines</label>
            </li>
            <li>
                <input type="checkbox" id="dadsmedicines" class="custom-checkbox">
                <label for="dadsmedicines">Dad’s Medicines</label>
            </li>
            <li>
                <input type="checkbox" id="privatewishlist" class="custom-checkbox">
                <label for="privatewishlist">Private Wishlist</label>
            </li>
        </ul>

        <br>
        <div class="flex justify-content-end align-items-center">
            <button class="btn-outline-light btn-lg btn-rounded btn-create">
                <img src="assets/images/icons/plus-icon.png" />
                 Create New List</button>
            <button class="btn-grey btn-lg btn-rounded btn-save">
                <img src="assets/images/icons/save-icon.png" />
                <span>Save</span>
            </button>
        </div>

    </div>
</div>