.banner-section {
    position: relative;
    color: #fff;
    min-height: 400px;
    /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../images/home-banner.png');
    background-size: cover;
    background-position: right;
    margin: 10px;
    border-radius: 12px;
    @media only screen and (min-width: 1440px) {
        margin: 45px 70px 70px 70px;
        height: 400px;
        background-position: initial;
    }
    h2 {
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 20px;
    }
    h5 {
        font-size: 18px;
        font-weight: 400;
        max-width: 500px;
        line-height: 28px;
    }
    .text-content {
        padding: 20px;
        border-radius: 10px;
    }
}