.breadcrumb-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    .breadcrumb {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'Arial', sans-serif;
        li {
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: #000; // Black text color
                font-size: 14px;
                font-weight: normal;
                transition: color 0.3s ease;
                &:hover {
                    color: #E61B77; // Pink color on hover
                }
                &.active {
                    font-weight: bold;
                    color: #555; // Slightly dimmed black for active link
                }
            }
            .divider {
                margin: 0 8px; // Space around the divider
                color: #000; // Black color for the divider
            }
        }
    }
}