.feature-item .icon {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    h5 {
        margin-top: 10px;
        color: #333333;
    }
    p {
        margin-top: 5px;
        font-size: 0.9rem;
        color: #666666;
    }
}