.homepage-slider {
    .slide-item {
        position: relative;
        color: #fff;
        min-height: 400px;
        /* Adjust height as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .text-content {
            padding: 20px;
            border-radius: 10px;
        }
        h5 {
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: #d3f9d8;
        }
        h2 {
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }
}