.symptoms-section {
    margin: 10px;
    @media only screen and (min-width: 1440px) {
        margin: 45px 60px 60px 60px;
    }
    .symptoms-badge {
        background-color: #FFECD6;
        color: #FAA138;
        position: absolute;
        top: 0;
        left: 30px;
        border-radius: 0 0 10px 10px;
        font-family: 'Outfit', sans-serif;
        font-weight: 600;
        font-size: 16px;
        padding: 7px 15px;
        @media only screen and (min-width: 1440px) {
            font-size: 18px;
            left: 80px;
        }
    }
    .symptoms-wrap {
        border-top: 1px solid #D4DEE5;
        position: relative;
        padding: 20px;
        @media only screen and (min-width: 1440px) {
            border-radius: 12px;
            border: 1px solid #D4DEE5;
            padding: 80px;
        }
        .steps {
            display: flex;
            flex-direction: row;
            @media only screen and (min-width: 1440px) {
                flex-direction: column;
            }
            .step {
                display: flex;
                flex-direction: column;
                padding: 20px;
                align-items: center;
                border-radius: 12px;
                @media only screen and (min-width: 1440px) {
                    flex-direction: row;
                    padding: 10px;
                }
                .step-circle {
                    border-radius: 50%;
                    border: 1px solid #D4D7E0;
                    padding: 5px;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media only screen and (min-width: 1440px) {
                        width: 36px;
                        height: 36px;
                    }
                    span {
                        font-weight: 16px;
                        font-weight: 500;
                        @media only screen and (min-width: 1440px) {
                            font-size: 18px;
                            font-weight: 800;
                        }
                    }
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    color: $black;
                    margin-bottom: 0;
                    @media only screen and (min-width: 1440px) {
                        margin-left: 15px;
                        font-size: 18px;
                        font-weight: 800;
                    }
                }
                &.selected {
                    background-color: #F6F7FB;
                    .step-circle {
                        border-radius: 50%;
                        border: 2px solid $primary;
                    }
                    p {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .symptom-heading {
        font-weight: 800;
        font-size: 28px;
        line-height: 36px;
        color: $black;
        @media only screen and (min-width: 1440px) {
            font-size: 40px;
        }
        span {
            color: $primary;
        }
    }
    .symptom-subheading {
        font-size: 16px;
        line-height: 24px;
        @media only screen and (min-width: 1440px) {
            font-size: 18px;
        }
    }
    .right-heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }
    .symptom-card {
        .image-bg {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            img.greyscale {
                display: block;
            }
            img.color {
                display: none;
            }
        }
        &.selected {
            .image-bg {
                img.greyscale {
                    display: none;
                }
                img.color {
                    display: block;
                }
            }
        }
        .symptom-name {
            font-size: 16px;
            font-weight: bold;
            @media only screen and (min-width: 1440px) {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
    .btn-grey {
        border-radius: 25px;
    }
}