// _mixins.scss
@mixin respond-to($breakpoint) {
    @if $breakpoint==xxs {
        @media (min-width: 320px) {
            @content;
        }
    }
    @if $breakpoint==xs {
        @media (min-width: 440px) {
            @content;
        }
    }
    @else if $breakpoint==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint==xl {
        @media (min-width: 1600px) {
            @content;
        }
    }
    @else if $breakpoint==xxl {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

.mydawa-container {
    margin: 0 auto;
    @include respond-to(xs) {
        max-width: 400px;
    }
    @include respond-to(sm) {
        max-width: 720px;
    }
    @include respond-to(md) {
        max-width: 800px;
    }
    @include respond-to(lg) {
        max-width: 1140px;
    }
    @include respond-to(xxl) {
        max-width: 1560px;
    }
    @include respond-to(xxl) {
        max-width: 1730px;
    }
}